.top { height: 185px; background: url(../images/top.jpg) no-repeat top center; color: #cee7ff; }
.top a, .top a:visited { color: #cee7ff; }
.top a:hover { color: #fff; }
.topt { height: 32px; border-bottom: 1px solid #438bd4; }
.welcome_txt { float: left; line-height: 33px; }
.login_index a, .login_index a:visited { font-weight: 700; margin-right: 3px; }
.soft { float: right; }
.soft_l { float: left; line-height: 33px; }
.soft_l ul li { float: left; display: inline; margin-lefT: 10px; }
.sico1 { background: url(../images/soft1.png) no-repeat left center; padding-left: 20px; }
.sico2 { background: url(../images/soft2.png) no-repeat left center; padding-left: 15px; }
.sico3 { background: url(../images/soft3.png) no-repeat left center; padding-left: 17px; }
.sico4 { background: url(../images/soft4.png) no-repeat left center; padding-left: 20px; }
.sico5 { background: url(../images/soft5.png) no-repeat left center; padding-left: 18px; }
.soft_r { width: 60px; height: 32px; float: right; margin-left: 10px; display: inline; }
.soft_car { width: 60px; line-height: 32px; height: 32px; background: url(../images/shopcar.png) no-repeat; }
.soft_car a, .soft_car a:visited, .soft_car a:hover { color: #f0ff00; font-size: 15px; font-weight: bold; }
.soft_car a { margin-left: 39px; }
.header { width: 1200px; margin: 0 auto; overflow: hidden; height: 110px; }
.logo { float: left; margin-top: 28px; }
.logo h1 a { display: block; width: 261px; height: 55px; background: url(../images/logo.png) no-repeat; line-height: 0; font-size: 0; text-indent: -9999px; }
.search { float: left; width: 477px; height: 36px; line-height: 36px; background: url(../images/ss_box.png) no-repeat; margin-top: 26px; display: inline; margin-left: 115px; }
.ss_Txt { width: 410px; line-height: 36px; height: 36px; padding-left: 12px; padding-right: 10px; background: none; }
.ss_btn { float: right; width: 45px; height: 36px; cursor: pointer; line-height: 0; font-size: 0; text-indent: -9999px; }
.tel { width: 234px; height: 39px; background: url(../images/tel.png) no-repeat; float: right; margin-top: 39px; }
.nav { height: 42px; width: 1200px; margin: 0 auto; }
.allshop { width: 253px; height: 42px; position: relative; float: left; }
.allshop_tit { width: 253px; height: 42px; line-height: 0; font-size: 0; }
.allshop ul { display: block; width: 253px; height: 386px; background: url(../images/allshopbj.jpg) no-repeat; position: absolute; top: 42px; left: 0; z-index: 1; }
.nav_box { float: LEFT; display: inline; margin-left: 50px; }
.nav_box ul li { float: left; display: inline; }
.nav_box ul li a, .nav_box ul li a:visited { display: block; margin: 0 20px; height: 42px; line-height: 42px; color: #fff; font-size: 14px; }
.nav_box ul li a:hover { color: #fff; }
.nav_box ul li a.navon { background: url(../images/navlibj.jpg) repeat-x top; font-weight: 700; }
.search_key { overflow: hidden; color: #cee7ff; }
.search_key a, .search_key a:visited { margin: 0 7px; color: #cee7ff; }
.search_key a:hover { color: #fff; }
.allshop ul li { display: block; padding: 10px 15px 1px 15px; }
.allshop ul li b a, .allshop ul li b a:visited, .allshop ul li b a:hover { color: #fff; }
.allico1 { background: url(../images/allico1.png) no-repeat left center; padding-left: 20px; }
.allico2 { background: url(../images/allico2.png) no-repeat left center; padding-left: 20px; }
.allico3 { background: url(../images/allico3.png) no-repeat left center; padding-left: 20px; }
.allico4 { background: url(../images/allico4.png) no-repeat left center; padding-left: 20px; }
.allico5 { background: url(../images/allico5.png) no-repeat left center; padding-left: 20px; }
.one_shop a, .one_shop a:visited { margin-right: 10px; }
.banner_news { width: 947px; margin: 0 auto; padding-left: 253px; }
.banner { width: 740px; height: 385px; float: left; }
.news { width: 204px; border: 1px solid #ddd; height: 385px; float: right; }
.news b { font-size: 14px; display: block; padding: 0 15px; padding-top: 10px; padding-bottom: 5px; }
.newsli { display: block; padding: 0 15px; }
.newsli li { padding-left: 7px; background: url(../images/newslibj.jpg) no-repeat left center; }
.news img { display: block; line-height: 0; font-size: 0; margin-top: 11px; }
.shop_ty, .shop_ty2, .shop_ty3, .shop_ty4, .shop_ty5 { width: 1199px; overflow: hidden; margin: 0 auto; border-bottom: 1px solid #eee; margin-top: 20px; }
.shop_tyleft { width: 253px; overflow: hidden; float: left; height: 397px; }
.shop_tyleft h2 { width: 240px; height: 42px; display: block; line-height: 42px; font-weight: 400; padding-left: 13px; }
.shop_tyleft h2 span { font-size: 20px; }
.shop_tyleft h2 b { font-size: 18px; font-weight: 400; }
.shop_tyleft h2 a, .shop_tyleft h2 a:visited, .shop_tyleft h2 a:hover { color: #fff; }
.pp_menu { width: 145px; border-right: 1px solid #eee; height: 395px; float: left; border-top: 2px solid #2378cc; position: relative; }
.shopgg { width: 253px; height: 355px; overflow: hidden; }
.shop_tyright { width: 800px; height: 395px; border-top: 2px solid #2378cc; float: right; }
.shop_tyright_top { overflow: hidden; }
.shop_tyright_top li { width: 199px; float: left; border-right: 1px solid #eee; display: block; height: 278px; overflow: hidden; }
.shop_tyright_top li img { width: 199px; height: 278px; display: block; line-height: 0; font-size: 0; transition: all .2s linear; -webkit-transition: all .2s linear; }
.shoplist_h { width: 800px; border-top: 1px solid #eee; height: 115px; display: block; overflow: hidden; }
.shoplist_h li { width: 199px; border-right: 1px solid #eee; display: block; float: left; height: 98px; padding-top: 17px; }
.shoplist_h li img { width: 80px; height: 80px; float: left; display: inline; }
.shoplist_h li p { padding-right: 10px; }
.shoplist_h li p b { font-family: Arial; font-size: 14px; color: #333; }
.pplist { width: 120px; margin: 0 auto; overflow: hidden; }
.pplist li { margin: 6px 0; }
.pplist li img { width: 120px; height: 50px; display: block; }
.ppico { display: block; padding-left: 58px; overflow: hidden; }
.ppico a { width: 8px; height: 8px; display: block; float: left; margin-right: 3px; background: url(../images/ppico1.jpg) no-repeat; }
.ppico a.ppico_on { background: url(../images/ppico2.jpg) no-repeat; }
.shop_fl { width: 145px; overflow: hidden; position: absolute; bottom: 0; left: 0; }
.shop_fl a, .shop_fl a:visited { display: block; width: 120px; height: 39px; line-height: 39px; font-size: 14px; border-top: 1px solid #eee; padding-left: 25px; background: url(../images/newslibj.jpg) no-repeat 15px center; }
.shop_tytitle1 { background: url(../images/title1.jpg) no-repeat; }
.shop_ty a:hover { color: #165ca4; }
.shop_ty .shop_fl a:hover { border-right: 3px solid #165ca4; margin-left: -3px; font-weight: bold; }
/*鍒嗛鑹叉澘鍧�*/
.shop_tytitle2 { background: url(../images/title2.jpg) no-repeat; }
.shop_ty2 .shop_tyright { border-top: 2px solid #81c74d; }
.shop_ty2 .pp_menu { border-top: 2px solid #81c74d; }
.shop_ty2 a:hover { color: #508c23; }
.shop_ty2 .shop_fl a:hover { border-right: 3px solid #508c23; margin-left: -3px; font-weight: bold; }
.shop_tytitle3 { background: url(../images/title3.jpg) no-repeat; }
.shop_ty3 .shop_tyright { border-top: 2px solid #ffba49; }
.shop_ty3 .pp_menu { border-top: 2px solid #ffba49; }
.shop_ty3 a:hover { color: #db5a02; }
.shop_ty3 .shop_fl a:hover { border-right: 3px solid #db5a02; margin-left: -3px; font-weight: bold; }
.shop_tytitle4 { background: url(../images/title4.jpg) no-repeat; }
.shop_ty4 .shop_tyright { border-top: 2px solid #4dc7af; }
.shop_ty4 .pp_menu { border-top: 2px solid #4dc7af; }
.shop_ty4 a:hover { color: #298674; }
.shop_ty4 .shop_fl a:hover { border-right: 3px solid #298674; margin-left: -3px; font-weight: bold; }
.shop_tytitle5 { background: url(../images/title5.jpg) no-repeat; }
.shop_ty5 .shop_tyright { border-top: 2px solid #e471f2; }
.shop_ty5 .pp_menu { border-top: 2px solid #e471f2; }
.shop_ty5 a:hover { color: #9141b7; }
.shop_ty5 .shop_fl a:hover { border-right: 3px solid #9141b7; margin-left: -3px; font-weight: bold; }
.help { width: 1200px; height: 104px; margin: 0 auto; margin-top: 20px; }
.bottom { width: 100%; height: 160px; background: url(../images/bottom.jpg) repeat-x; margin-top: 20px; text-align: center; color: #999; line-height: 24px;}
.bottom a, .bottom a:visited { color: #999; }
.bottom a:hover { color: #fff; }
.btmnav a, .btmnav a:visited, .btmnav a:hover { color: #fff; }
.btmnav a { margin: 0 7px; }
.btmnav { color: #fff; padding-top: 37px; }
/*浜岀骇椤甸潰寮�濮�!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*绛涢�夐〉*/
.place { width: 1180px; background: url(../images/fangzi.jpg) no-repeat left center; margin: 20px auto; padding-left: 20px; }
.place a { margin: 0 5px; }
.sub_left { width: 254px; overflow: hidden; float: left; }
.hot_list { width: 252px; overflow: hidden; border: 1px solid #eee; border-top: 2px solid #f60; }
.hot_list h2 { display: block; background: url(../images/hoth2.jpg) repeat-x; height: 37px; line-height: 37px; padding-left: 15px; font-size: 14px; color: #f60; }
.hot_list li { padding: 15px 10px; border-bottom: 1px dashed #ddd; position: relative; }
.hot_list li img { width: 66px; height: 66px; display: inline; float: left; margin-right: 10px; margin-top: 10px; }
.hot_list li span { line-height: 20px; color: #666; }
.hot_list li b { font-size: 15px; font-family: Arial; display: block; color: #f60; }
.num1 { width: 18px; height: 21px; background: url(../images/num.jpg) no-repeat; position: absolute; right: 0; top: 0; color: #fff; text-align: right; padding-right: 3px; line-height: 14px; font-family: Arial, Helvetica, sans-serif; font-size: 10px; -webkit-text-size-adjust: none; font-weight: bold; }
.num2 { width: 18px; height: 21px; background: url(../images/num2.jpg) no-repeat; position: absolute; right: 0; top: 0; color: #fff; text-align: right; padding-right: 3px; line-height: 14px; font-family: Arial, Helvetica, sans-serif; font-size: 10px; -webkit-text-size-adjust: none; font-weight: bold; }
.sub_right { width: 922px; border: 1px solid #eee; border-top: 2px solid #137cd7; float: right; }
.sx_tit { background: url(../images/hoth2.jpg) repeat-x; height: 37px; line-height: 37px; padding: 0 15px; font-size: 12px; }
.sx_tit h2 { font-size: 15px; color: #137cd7; float: left; }
.sx_tit b { font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #f60; margin: 0 3px; }
.sx_tit span { float: right; }
.sx_lb { overflow: hidden; }
.sx_lb ul li { display: block; padding: 10px 15px 10px 0; overflow: hidden; border-bottom: 1px dashed #ddd; }
.sx_lb ul li:last-child { border-bottom: none; }
.sx_lb li span { float: left; width: 100px; overflow: hidden; text-align: right; }
.sx_lb li p { float: right; width: 800px; }
.sx_lb li p a { padding: 1px 7px; margin-right: 10px; white-space: nowrap; float: left; }
.sx_lb li p a.sxon { background: #137cd7; color: #fff; }
.sxtj { height: 40px; line-height: 40px; background: url(../images/sxtj.jpg) repeat-x; border-top: 1px solid #eee; border-bottom: 1px solid #ddd; margin-top: 20px; }
.sxtj ul li { float: left; }
.sxtj ul li a, .sxtj ul li a:visited { display: block; width: 90px; border-right: 1px solid #eee; text-align: center; }
.sxtj ul li a.sxtj_on { background: #f60; color: #fff; font-size: 14px; font-weight: bold; }
.jgqj_txt { width: 48px; height: 20px; border: 1px solid #ccc; background: #fff; float: left; margin-top: 9px; }
.sxtj span { float: left; display: inline; margin: 0 5px; }
.jgqj_btn { width: 50px; height: 22px; line-height: 22px; text-align: center; cursor: pointer; background: #1174d2; color: #fff; text-align: center; margin-top: 9px; margin-left: 10px; }
.sxtjBox { overflow: hidden; padding-left: 15px; }
.sx_list { overflow: hidden; }
.sx_list li { width: 190px; overflow: hidden; float: left; display: block; margin-left: 16px; border: 4px solid #fff; padding: 6px; margin-top: 16px; transition: all .2s linear; -webkit-transition: all .2s linear; }
.sx_list li:hover { border: 4px solid #ffe4d2; }
.sx_list li img { width: 190px; height: 190px; display: block; }
.sx_list li p { margin-top: 10px; }
.sx_list li b { display: block; font-family: Arial, Helvetica, sans-serif; color: #f60; font-size: 15px; }
.page { padding: 20px; overflow: hidden; float: right; }
.page a, .page a:visited { padding: 2px 10px; border: 1px solid #eee; margin: 0 3px; display: block; float: left; }
.page span { float: left; margin-top: 4px; }
.page a.pageon { background: #f60; font-weight: bold; color: #fff; }
/*Login*/
.logo2 { width: 259px; height: 47px; margin: 0 auto; margin-top: 90px; margin-bottom: 50px; }
.logo2 h1 a { line-height: 0; font-size: 0; text-indent: -9999px; width: 259px; height: 47px; display: block; background: url(../images/logo2.jpg) no-repeat; }
.loginbox { width: 970px; background: #fff; overflow: hidden; margin: 0 auto; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; box-shadow: 1px 1px 5px #ddd; -webkit-box-shadow: 1px 3px 5px #ddd; -moz-box-shadow: 1px 3px 5px #ddd; -ms-box-shadow: 1px 3px 5px #ddd; -o-box-shadow: 1px 3px 5px #ddd; border-top: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5; border-right: 1px solid #ddd; }
.loginbox img { width: 480px; height: 350px; margin-left: 3px; display: inline; float: left; }
.login_r { background: url(../images/loginbj.jpg) repeat-y; width: 415px; float: right; padding-left: 65px; padding-top: 37px; color: #999; }
.login_r span { display: block; margin-bottom: 3px; }
.login_txt1 { margin-bottom: 20px; background: url(../images/loginico1.jpg) no-repeat 353px center; width: 370px; padding-left: 8px; height: 37px; border: 1px solid #ddd; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #2579D1; transition: all .2s linaer; -webkit-transition: all .2s linaer; }
.login_txt1:focus, .login_txt2:focus { border: 1px solid #2579D1; box-shadow: 1px 1px 3px #ddd; -webkit-box-shadow: 1px 1px 3px #ddd; }
.login_txt2 { margin-bottom: 20px; background: url(../images/loginico2.jpg) no-repeat 353px center; width: 370px; padding-left: 8px; height: 37px; border: 1px solid #ddd; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; color: #2579D1; }
.login_txt1, .login_txt2 { transition: all .2s linear; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; -ms-transition: all .2s linear; -o-transition: all .2s linear; }
.wj a, .wj a:visited, .wj a:hover { color: #f60; font-weight: normal; }
.zc a, .zc a:visited, .zc a:hover { color: #247AD1; font-weight: normal; }
.login_btn { width: 378px; height: 37px; line-height: 37px; text-align: center; color: #fff; font-size: 15px; background: #247AD1; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; margin-top: 20px; transition: all .2s linear; -webkit-transition: all .2s linear; }
.login_btn:hover { opacity: .8; }
.bottom2 { width: 100%; height: 160px; margin-top: 20px; text-align: center; color: #666; }
.bottom2 a, .bottom2 a:visited { color: #666; }
.bottom2 a:hover { color: #f60; }
.btmnav2 a, .btmnav2 a:visited, .btmnav2 a:hover { color: #666; }
.btmnav2 a { margin: 0 7px; }
.btmnav2 { color: #666; padding-top: 30px; }
/*娉ㄥ唽*/
#yzm { margin: 0; padding: 0; width: 80px; height: 38px; display: inline; float: left; margin-left: 10px; }
/*鍟嗗搧灞曠ず锛侊紒锛侊紒锛侊紒锛侊紒锛侊紒锛侊紒锛侊紒锛侊紒锛侊紒*/
/*澶у浘*/
.shop_show { width: 1198px; border: 1px solid #e8e8e8; margin: 0 auto; overflow: hidden; margin-bottom: 25px; }
.shop_show_left { width: 410px; overflow: hidden; float: left; }
.shopBigImg { width: 410px; height: 410px; overflow: hidden; }
.shopBigImg img { width: 410px; height: 410px; }
.shopBigImg li { display: none; }
/*灏忓浘*/
.shopSmallImg { width: 100%; overflow: hidden; }
.shopSmallImg ul li { float: left; border: 1px solid #ddd; display: inline; margin: 0 4px; }
.shopSmallImg ul li img { width: 60px; height: 60px; display: block; }
.shopSmallImg ul li.shopSmallImg_on { border: 1px solid #f60; }
.LeftBtn { float: left; }
.RightBtn { float: right; }
/*鍒嗕韩*/
.box { overflow: hidden; padding: 25px 12px 0 12px; }
.bdsharebuttonbox { float: left; }
.love { width: 92px; height: 27px; display: block; float: right; }
/*鍟嗗搧淇℃伅*/
.ShopShowRight { width: 720px; overflow: hidden; padding: 30px; float: right; border-left: 1px dashed #ddd; }
.ShopShowRight h2 { font-size: 18px; color: #333; display: block; padding-bottom: 10px; }
.ShopShowRight h3 { font-size: 18px; color: #f70; font-weight: normal; margin-bottom: 10px; }
.ShopShowRight em { font-size: 20px; font-weight: bold; font-style: normal; color: #dd0000; }
.ShopShowRight i { font-style: normal; color: red; }
.ShopShowRight p { margin-bottom: 5px; }
.SelectPackage { padding-top: 20px; margin-top: 20px; border-top: 1px dashed #ddd; }
.SelectPackage a, .SelectPackage a:visited { display: block; float: left; margin-right: 8px; padding: 2px 10px; border: 2px solid #ddd; }
.SelectPackage a.SelectPackage_on { border: 2px solid #3399ff; background: url(../images/selecton.jpg) no-repeat right bottom; }
.select_num { width: 40px; height: 20px; border: 1px solid #ddd; text-align: center; font-weight: bold; font-family: Arial, Helvetica, sans-serif; float: left; display: inline; margin: 0 5px; }
.shopbtn a:hover { opacity: .6 }
.gm_btn1 a, .gm_btn1 a:visited { width: 120px; height: 37px; line-height: 37px; background: #f60; font-size: 15px; font-weight: bold; color: #fff; display: block; text-align: center; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; float: left; margin-right: 20px; margin-top: 30px; }
.gm_btn1 a:hover { color: #fff; opacity: .7 }
.gm_btn2 a, .gm_btn2 a:visited { width: 120px; height: 37px; line-height: 37px; background: #1F74C2; font-size: 15px; font-weight: bold; color: #fff; display: block; text-align: center; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; float: left; margin-top: 30px; }
.gm_btn2 a:hover { color: #fff; opacity: .7 }
.sx_tit ul li { float: left; border-right: 1px solid #eee; }
.sx_tit ul li a, .sx_tit ul li a:visited { display: block; width: 115px; height: 37px; text-align: center; font-size: 14px; font-weight: bold; }
.sx_tit ul li a.con { background: #137CD7; color: #fff; }
/*鍟嗗搧璇︽儏*/
.products_det { overflow: hidden; padding: 20px; }
.products_det p { padding-bottom: 15px; }
.products_det a { color: #0073b5; text-decoration: underline; }
.products_det a:hover { color: #000; }
.zuhebox { width: 965px; border-left: 2px solid #2c88bc; border-right: 1px solid #2c88bc; border-bottom: 1px solid #2c88bc; }
.zuhebox .zuhejiage { position: relative; width: 150px; padding-left: 18px; padding-top: 10px; height: 210px; left: -1px; float: right; background-color: #ecf8ff; background-image: url(../images/prodetbox_zjtbg.gif); background-repeat: no-repeat; background-position: left 20px; }
.zuhebox .zuhejiage li { width: 150px; float: left; }
.zuhebox .zuhejiage h2 { width: 150px; line-height: 35px; height: 35px; font-size: 14px; display: block; }
.zuhebox .zuhejiage del { text-decoration: line-through; }
.zuhebox .probox { width: 790px; height: 220px; overflow: scroll; overflow-y: hidden; position: relative; width: 790px!important; float: left; }
.zuhebox .probox li { width: 200px; height: 200px; border-right: 1px dashed #CCC; float: left; display: inline; }
.zuhebox .probox li:hover { background: #e7f6fe; }
.zuhebox .probox li img { width: 100px; height: 100px; padding: 5px; background-color: #FFF; border: 1px solid #e3e3e3; display: block; margin: 5px auto; }
.zuhebox .probox li h3 { width: 150px; text-align: center; height: 30px; margin: 0 auto; font-size: 12px; line-height: 15px; font-weight: 100; display: block; overflow: hidden; }
.zuhebox .probox .jg { width: 200px; margin: 0 auto; height: 25px; line-height: 25px; text-align: center; color: #6e6e6e; display: block; }
.zuhebox .probox .gx { width: 200px; height: 23px; text-align: center; vertical-align: middle; display: block; }
/*鍟嗗搧璇勮*/

.pinglun { height: 38px; background-image: url(../images/wunda_plbg.gif); background-repeat: no-repeat; background-position: left top; border-bottom: 1px solid #ddd; }
.pinglun h2 { font-size: 14px; width: 200px; padding-left: 40px; float: left; display: block; margin-top: 11px; }
.pinglun a { width: 88px; height: 30px; line-height: 30px; text-align: center; color: #FFF; display: block; float: right; }
.pinglun a:hover { color: #ffb76a; }
.pinglunpage { padding-left: 10px; width: auto; float: right; text-align: center; line-height: 31px; color: #727272; clear: both; background-image: url(../images/icon_navjt.gif); background-repeat: no-repeat; background-position: left center; }
.pinglunpage strong { color: #d40000; }
.pinlunbox { margin-bottom: 5px; height: auto; }
.pinlunbox dl { height: auto; }
.pinlunbox dl dt { padding-top: 10px; padding-bottom: 10px; background-color: #f7f7f7; background-image: url(../images/wunda_pl_dtbg.gif); background-repeat: repeat-x; background-position: top; }
.pinlunbox dl dt ul { height: auto; }
.pinlunbox dl dt ul li { }
.pinlunbox dl dt .name { color: #9b9b9b; font-weight: bold; padding-left: 40px; background-image: url(../images/icon_wen.gif); background-repeat: no-repeat; background-position: 10px; }
.pinlunbox dl dt .time { color: #9b9b9b; text-align: right; width: 200px; padding-right: 30px; float: right; }
.pinlunbox dl dt .dtlr { height: auto; padding-top: 0; padding-right: 30px; padding-bottom: 0; padding-left: 40px; }
.pinlunbox dl dd { padding-top: 10px; padding-bottom: 10px; }
.pinlunbox dl dd ul { height: auto; }
.pinlunbox dl dd ul li { }
.pinlunbox dl dd .name { font-weight: bold; font-family: Verdana; padding-left: 40px; background-image: url(../images/icon_da.gif); background-repeat: no-repeat; background-position: 10px 0px; }
.pinlunbox dl dd .ddlr { color: #9b9b9b; height: auto; padding-top: 0; padding-right: 30px; padding-bottom: 0; padding-left: 40px; }
.fbpn { font-size: 12px; clear: both; border: 1px solid #E3E3E3; background-color: #F9F9F9; padding-top: 0px; padding-right: 0px; padding-bottom: 20px; padding-left: 0px; }
.fbpn h2 { height: 43px; line-height: 35px; font-size: 14px; padding-left: 40px; display: block; background-image: url(../images/fbpn_btbg.gif); background-repeat: no-repeat; }
.fbpn ul { height: auto; }
.fbpn ul li { height: auto; }
.fbpn .title { color: #999; text-align: right; width: 68px; height: 31px; line-height: 23px; float: left; }
.fbpn .yzminp { height: 31px; width: 70px; float: left; }
.fbpn .yzminp input { width: 50px; padding-left: 5px; height: 19px; line-height: 19px; border: 1px solid #CCC; }
.fbpn .yzmimg { height: 31px; }
.fbpn .texta { height: 70px; }
.fbpn .texta textarea { height: 55px; padding-top: 5px; padding-left: 5px; color: #000; }
.fbpn .inp { font-size: 12px; padding-top: 2px; padding-left: 2px; margin-right: 5px; color: #7f7f7f; border: 1px solid #c4dde0; }
.fbpn .pyts { padding-left: 68px; height: 35px; line-height: 35px; color: #999999; margin-bottom: 10px; display: block; }
.fbpn .pyts a { font-size: 12px; font-weight: bold; color: #118DED; margin-right: 3px; margin-left: 3px; }
.fbpn .tijiaobox { padding-left: 68px; height: 31px; line-height: 31px; color: #999999; }
.tijiaoan { width: 80px; height: 24px; background: #118ded; color: #fff; text-align: center; cursor: pointer; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; }
.tijiaoan:hover { background: #f60; }
/*璐墿杞�*/
.main { width: 1000px; margin: 0 auto; height: auto; overflow: hidden; }
.top div.fl { padding-top: 12px; }
.top div.fl .buy_inp { width: 299px; height: 35px; line-height: 35px; font-family: "寰蒋闆呴粦"; color: #999; border: none; outline: none; background: #fff; text-indent: 10px; }
.top div.fl .buy_btn { background: #ddd; width: 67px; height: 35px; line-height: 35px; border: none; outline: none; color: #ea5514; cursor: pointer; font-family: "寰蒋闆呴粦"; font-size: 14px; }
.top div.fr a, .top div.fr { color: #fff; }
.top div.fr a:hover, .footer a:hover { color: #ea5514; }
.top div.fr span, .footer span { margin: 0 10px; }
.footer a { color: #999; margin-right: 8px; }
.gw_bz { height: 33px; }
.gw_bz a { display: block; float: left; _display: inline; cursor: text; }
.gw_bz a b { display: block; float: left; width: 16px; height: 16px; overflow: hidden; line-height: 16px; text-align: center; color: #eee; font-size: 14px; background: url(../../images/edm/buy_8.jpg) no-repeat 0 0; margin: 8px 10px 0 0; }
.gw_bz a span { display: block; float: left; font-size: 14px; color: #999; margin: 6px 0 0 0; _margin: 10px 0 0 0; font-family: "寰蒋闆呴粦"; }
.gw_bz .act b { background: url(../../images/edm/buy_9.jpg) no-repeat 0 0; color: #ff0000; }
.gw_bz .act span { color: #fff; }
.bz_abg { background: url(../../images/edm/buy_1.jpg) no-repeat 0 0; }
.bz_bbg { background: url(../../images/edm/buy_2.jpg) no-repeat 0 0; }
.bz_cbg { background: url(../../images/edm/buy_3.jpg) no-repeat 0 0; }
.bz_dbg { background: url(../../images/edm/buy_4.jpg) no-repeat 0 0; }
.bz_ebg { background: url(../../images/edm/buy_5.jpg) no-repeat 0 0; }
.tishi { font-family: "寰蒋闆呴粦"; }
.tishi a:hover { color: #ea5514; }
.cart_box { border: 1px solid #ebebeb; margin-bottom: 30px; background: #fafafa; }
.cart_box .head span { color: #cacaca; }
.cart_box .head b, .all b, .fapiao b { width: 11px; height: 11px; overflow: hidden; display: block; border: 1px solid #d7d7d7; background: #fff; cursor: pointer; }
.cart_box .head b.act, .all b.act, .fapiao b.act { background: url(../../images/edm/buy_10.jpg) no-repeat 0 0; width: 14px; height: 14px; border: none; }
.cart_box .mid { padding: 0 0 0 26px; }
.cart_box .mid .mid_a { width: 248px; }
.cart_box .mid .mid_a a { color: #333; }
.cart_box .mid .mid_a a:hover { color: #ea5514; }
.cart_box .mid .mid_b { width: 150px; text-align: center; }
.cart_box .mid .mid_b span { display: block; padding-top: 10px; color: #333; font-size: 14px; font-weight: bold; font-family: "瀹嬩綋"; }
.cart_box .mid .mid_b em { display: block; padding-top: 10px; color: #ccc; text-decoration: line-through; font-family: "瀹嬩綋"; }
.cart_box .mid .mid_c { width: 110px; padding-left: 40px; }
.cart_box .mid .mid_c .add { width: 17px; height: 25px; background: #f0f0f0; border: 1px solid #e5e5e5; border-left: none; outline: none; cursor: pointer; font-size: 14px; }
.cart_box .mid .mid_c .jian { width: 17px; height: 25px; background: #f0f0f0; border: 1px solid #e5e5e5; border-right: none; outline: none; cursor: pointer; color: #414141; font-size: 14px; }
.cart_box .mid .mid_c .inp { width: 39px; height: 23px; line-height: 23px; outline: none; text-align: center; border: 1px solid #aaa; }
.cart_box .mid .mid_d { width: 130px; color: #ff0000; padding-top: 14px; font-size: 14px; font-weight: bold; font-family: "瀹嬩綋"; }
.cart_box .mid .mid_e { width: 162px; padding-top: 16px; color: #999; }
.cart_box .mid .mid_e a { color: #999; }
.cart_box .mid .mid_e a:hover, .del a:hover { color: #ea5514; }
.del a { color: #666; }
.tishi_b div { position: relative; padding: 0 10px; height: 26px; line-height: 26px; background: #fff7d1; border: 1px solid #e5debc; color: #666; _margin-left: -220px; }
.tishi_b div span { display: block; width: 9px; height: 6px; overflow: hidden; position: absolute; left: 15px; top: -6px; }
.buy_gm { height: 53px; border: 1px solid #eee; background: url(../../images/edm/buy_14.jpg) repeat-x 0 0; position: relative; }
.buy_gm div.fr { margin-right: 158px; }
.buy_gm div.fr em { color: #ff0000; font-family: "寰蒋闆呴粦"; font-size: 25px; font-weight: bold; margin-top: 2px; }
.buy_gm div.fr i { font-family: "瀹嬩綋"; font-weight: bold; font-size: 16px; }
.buy_gm .pa { right: 0; top: 0; }
.buy_gm .pa a { display: block; width: 135px; height: 55px; text-align: center; line-height: 55px; background: #ff6600; font-family: "寰蒋闆呴粦"; color: #fff; font-size: 20px; }
.buy_gm .pa a:hover { color: #aaa; }
.buy_gm .pa span { display: block; width: 11px; height: 16px; overflow: hidden; position: absolute; left: -11px; top: 19px; }
.queding .qued_top { background: #f2f2f2; height: 33px; cursor: pointer; }
.queding .qued_top span { color: #666; font-size: 14px; font-weight: bold; margin: 8px 0 0 20px; }
.queding .qued_top b { width: 9px; height: 6px; overflow: hidden; margin: 14px 18px 0 0; }
.queding .qued_top b.low { background: url(../../images/edm/buy_15.jpg) no-repeat 0 0; }
.queding .qued_top b.up { background: url(../../images/edm/buy_15.jpg) no-repeat 0 -6px; }
.queding .addres li { float: left; width: 237px; height: 106px; margin-right: 10px; }
.queding .addres li.one { background: url(../../images/edm/buy_16.jpg) no-repeat 0 0; }
.queding .addres li.one div { margin: 13px 0 0 20px; color: #666; }
.queding .addres li.one span { margin: 15px 0 0 20px; width: 200px; line-height: 18px; color: #666; }
.queding .addres li.two { background: url(../../images/edm/buy_17.jpg) no-repeat 0 0; }
.queding .addres li.two a { display: block; width: 237px; text-align: center; height: 106px; color: #c7c7c7; }
.queding .addres li.two a span { margin-top: 30px; display: block; font-size: 20px; }
.queding .addres li.two a em { font-size: 14px; font-weight: bold; }
.queding .addres li.two a:hover { color: #ea5514; }
.queding .new_addres { height: 352px; margin-left: 8px; background: url(../../images/edm/buy_18.jpg) no-repeat 0 0; }
.queding .new_addres .h3 { font-size: 14px; color: #333; font-weight: bold; padding: 20px 0 0 30px; }
.queding .new_addres .h4 { height: 28px; background: #fff4d4; margin: 10px 40px 0 62px; }
.queding .new_addres .h4 em { margin-top: 8px; color: #666; }
.queding .new_addres .inp { width: 144px; height: 24px; text-indent: 10px; line-height: 24px; outline: none; border: 1px solid #ccc; }
.queding .new_addres span { font-family: "寰蒋闆呴粦"; font-size: 14px; }
.queding .new_addres i { color: #ff6600; font-size: 16px; font-family: "榛戜綋"; top: 2px; }
.queding .new_addres .zc_btnn { width: 145px; height: 35px; line-height: 35px; background: #e3393c; font-family: "寰蒋闆呴粦"; color: #fff; font-size: 14px; border: none; outline: none; cursor: pointer; border-radius: 4px; margin-left: 95px; }
.queding .fapiao_btn input { height: 24px; line-height: 24px; padding: 0 15px; }
.queding .fapiao_btn .fa_btnn { background: #f9912b; border: 1px solid #ccc; color: #fff; font-weight: bold; outline: none; }
.queding .fapiao_btn .fa_btnnb { background: #eee; border: 1px solid #ccc; outline: none; }
.queding .quan_bg { width: 131px; height: 54px; background: url(../../images/edm/buy_19.jpg) no-repeat 0 0; }
.queding .quan_bg span { width: 16px; display: block; float: left; color: #fffefe; font-size: 13px; margin: 4px 0 0 6px; }
.queding .quan_bg b { font-family: "寰蒋闆呴粦"; color: #fff; font-size: 30px; display: block; float: left; margin: 8px 0 0 20px; }
.queding .quan_bg font { font-family: "瀹嬩綋"; font-size: 12px; }
.queding .out_quan { margin-right: 30px; }
.fangshi span { font-size: 14px; color: #666; font-weight: bold; }
.fangshi { border-bottom: 1px solid #ddd; }
.bank table th { height: 35px; line-height: 35px; border-bottom: 1px solid #ececec; border-top: 1px solid #ececec; color: #6e6e6e; text-align: center; }
.bank table th div { height: 35px; background: #f7f7f7; }
.bank table tr td { height: 72px; line-height: 72px; font-family: "寰蒋闆呴粦"; color: #666; font-size: 16px; border-bottom: 1px solid #ececec; }
.online { border: 3px solid #f5f5f5; }
.online .rad { margin-right: 30px; }
.fukuan b { color: #ff0000; font-size: 25px; font-weight: bold; }
.fukuan a { margin-left: 40px; margin-top: 2px; width: 175px; height: 30px; line-height: 30px; text-align: center; color: #fff; font-size: 14px; font-weight: bold; border-radius: 2px; background: url(../../images/edm/buy_20.jpg) repeat-x 0 0; }
.fukuan a:hover { background: #e54144; }
.buy_ok { width: 483px; height: auto; overflow: hidden; margin: 0 auto; }
.buy_ok .ok_a span { font-family: "寰蒋闆呴粦"; color: #ff0000; font-size: 22px; }
.buy_ok .ok_a em { color: #ff6600; font-size: 18px; }
.buy_ok .ok_b a { color: #376de6; }
.buy_ok .ok_b a:hover { text-decoration: underline; }
.buy_ok_top { font-family: "寰蒋闆呴粦"; color: #454545; font-size: 20px; height: 46px; line-height: 46px; border-bottom: 1px solid #e2e2e2; }
.lis_a li { width: 230px; margin-right: 26px; float: left; _display: inline; margin-bottom: 26px; position: relative; }
.lis_a ul { width: 1029px; }
.lis_a li.sma span a { font-family: "寰蒋闆呴粦"; color: #202020; font-size: 14px; display: block; padding: 0 10px; width: 210px; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; }
.lis_a li.sma span a:hover { color: #ea5515; }
.lis_a li.sma div b { color: #797979; margin-left: 10px; }
.lis_a li.sma div em { margin-right: 10px; font-family: "寰蒋闆呴粦"; color: #e75f00; font-size: 24px; }
.lis_a li.sma i { text-align: center; display: block; width: 100%; height: 26px; line-height: 26px; position: absolute; left: 0; bottom: 61px; bottom: 63px\9; *bottom:65px;
_bottom: 58px; background: rgba(233,84,18,0.8); background: #e95412\9; filter:alpha(opacity:80)\9;
border-bottom: 1px solid #e57844; border-top: 1px solid #e77744; }
.lis_a li.sma i a { font-family: "寰蒋闆呴粦"; color: #fff; font-size: 14px; }
.lis_a li.sma i a:hover { text-decoration: underline; }
/*鍏徃淇℃伅*/
.gsmain { width: 1200px; overflow: hidden; background: url(../images/sjbj.jpg) repeat-y; margin: 0 auto; border: 1px solid #eee; margin-top: 20px; padding-bottom: 20px; }
.gslm { width: 253px; overflow: hidden; float: left; }
.gslm h3 { font-size: 14px; height: 34px; line-height: 34px; display: block; padding-left: 15px; background: #eee; }
.gslm ul li { font-size: 14px; height: 30px; line-height: 30px; display: block; padding-left: 25px; background: url(../images/listxm.jpg) no-repeat 13px center; border-bottom: 1px dashed #eee; }
.submain_r { width: 900px; float: right; overflow: hidden; margin-right: 20px; margin-top: 10px; }
/*鏂伴椈鍒楄〃*/
.textlist { width: auto; overflow: hidden; margin: 0 auto; }
.textlist ul li { margin-top: 5px; line-height: 24px; font-size: 14px; padding-bottom: 5px; padding-left: 13px; background-image: url(../images/listxm.jpg); background-repeat: no-repeat; background-position: left center; }
.textlist ul { display: block; margin-bottom: 15px; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #ddd; padding-bottom: 15px; }
.textlist ul li span { float: right; font-size: 12px; color: #999; -webkit-text-size-adjust: none; font-family: Arial, Helvetica, sans-serif; }
/*鍐呭椤甸潰*/
.content_page { width: auto; overflow: hidden; }
.content_page img { display: block; margin: 0 auto; }
.content_page h4 { display: block; text-align: center; font-size: 20px; font-family: "寰蒋闆呴粦"; font-weight: normal; padding-top: 20px; }
.nr_info { width: 100%; height: 24px; line-height: 24px; color: #999; margin-right: auto; margin-left: auto; margin-top: 5px; text-align: center; padding-bottom: 10px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ddd; }
.content_page p { display: block; font-size: 14px; line-height: 24px; margin-top: 15px; margin-bottom: 15px; margin-right: auto; margin-left: auto; }
.fy_box { width: 100%; border-top: 1px solid #dedede; overflow: hidden; margin: 0 auto; padding-top: 10px; margin-bottom: 10px; }
.piclist { width: 100%; overflow: hidden; }
/*鐣欒█鐗�*/
.lyb { overflow: hidden; padding-bottom: 20px; }
.lyb h4 { font-size: 14px; display: block; border-bottom: 1px solid #ddd; border-top: 2px solid #118DED; height: 40px; line-height: 40px; overflow: hidden; color: #118DED; background: url(../images/hoth2.jpg) repeat-x bottom; padding-left: 15px; }
.lyb ul li { border-bottom: 1px dashed #DDD; padding-top: 10px; padding-right: 15px; padding-bottom: 10px; padding-left: 15px; }
.lyb a { margin: 0 10px; }
.lyb table { margin-top: 15px; }
.lyb label { margin-right: 10px; }
.lybtxt { width: 150px; height: 20px; line-height: 20px; padding-left: 5px; border: 1px solid #ddd; }
.lybly { width: 500px; height: 80px; border: 1px solid #ddd; line-height: 20px; padding-left: 5px; }
.lyb input, .lyb textarea { margin-left: 10px; }
.lybtit { text-align: right; font-weight: bold; }
.tybtn2 { width: 90px; height: 30px; line-height: 30px; background: #118DED; cursor: pointer; color: #fff; font-size: 14px; font-weight: 700; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; transition: all .2s linear; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; -ms-transition: all .2s linear; -o-transition: all .2s linear; }
.tybtn2:hover { background: #f60; }
/*INDEX ALL SHOP*/
.nav ul li ul { width: 741px; height: 385PX; display: block; border: 1px solid #ddd; border-left: none; border-top: none; position: absolute; left: 253px; top: 1px; background-color: #fff; background-image: url(../images/all_shopbj.jpg); background-repeat: repeat-x; background-position: bottom; _left: 220px; box-shadow: 1px 1px 5px #ddd; -webkit-box-shadow: 1px 1px 5px #ddd; -moz-box-shadow: 1px 1px 5px #ddd; -ms-box-shadow: 1px 1px 5px #ddd; -o-box-shadow: 1px 1px 5px #ddd; }
.allsub { overflow: hidden; padding: 0 15px; }
.allsub_l { width: auto; overflow: hidden; }
.allsub_l a, .allsub_l a:visited { margin-left: 10px; color: #666; }
.allsub_l a:hover { color: #f60; }
.allsub_l dl { display: block; overflow: hidden; padding: 10px 0; border-bottom: 1px solid #eee; }
.allsub_l dl:last-child { border-bottom: none; }
.allsub_l dl span { display: block; width: 60px; text-align: right; float: left; overflow: hidden; color: #333; font-size: 12px; font-weight: bold; }
.allsub_l dl p { display: block; width: 580px; float: left; padding-left: 10px; }
