@charset "utf-8";

/* CSS Document */
* {padding: 0;margin: 0;}
body {margin: 0px;padding: 0px;color: #666666;font-family:"微软雅黑", Arial, Helvetica, sans-serif;font-size: 12px;background:#ffffff;text-align:left;position:relative; line-height:18px;}
img {border: 0;position:relative;}
.clear {height:0px;line-height:0px;font-size:0px;clear:both;visibility:hidden;overflow:hidden;padding:0;margin:0;}
div,ul,dl,dd,dt,li,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,form{ margin:0px;  padding:0px; list-style:none; list-style-type: none; word-wrap:break-word;position:relative; border:none;}
a {color:#666666;text-decoration: none;position:relative;cursor:pointer;}
a:hover{ text-decoration:underline;}
header, footer, nav, section, article, menu, aside {  display:block;position:relative;  } 
textarea { resize:none;}
table { border-collapse:collapse;border-spacing:0;}
th , td { text-align:left;}
div{ margin:0 auto;}
.wrapper{ width:1200px; display:block; overflow:hidden;}
.w100{ width:100%; display:block; overflow:hidden;}

.top10{ margin-top:10px;}
.top20{ margin-top:20px;}
.top30{ margin-top:30px;}

.addcartorange{ display:block; width:136px; height:40px; border-radius:3px; -moz-border-radius:3px;-webkit-border-radius:3px; background:#ef7c00; text-align:center; color:#fff; float:left; font-size:16px; text-decoration:none; line-height:40px;}

/* 详细样式 */
.bannerbox {
	width:100%;
	height:490px;
	min-width:1130px;
	max-width:1920px;
	margin:0 auto;
	overflow:hidden;}
#indexbanner {width:100%;height:490px;}
#indexbanner a {display:block;width:100%;height:490px;background-repeat:no-repeat;background-position:center center;position:absolute;left:0;top:0;}
#bannernum {position:absolute;width:100%;bottom:15px;text-align:center;}
#bannernum span { display:inline-block;width:15px;height:15px;background:#ccc; opacity:0.8; line-height:0px; font-size:0px; border-radius:50%; margin:0 8px;}
#bannernum span.numsel { background:#009fad;}


/* 顶部 */
.top_ad{ width:1920px; height:80px;}
.top_ad img{ width:1920px; height:80px;}

.top_all{ width: 100%;height: 26px;background:#f7f7f7;border-bottom: 1px #dddddd solid;}
.top_all .top{ width: 1200px; height:26px; line-height:26px; color:#999999;}
.top_all .top .top_left{ width:290px; float:left;}
.top_all .top .top_left .top_left_welcome{ float:left; margin-right:30px;}
.top_all .top .top_left a{ margin-left:10px; color:#999999;}
.top_all .top .top_left a:hover{ color:#0e5baa;}

.top_all .top .top_right{ width:230px; float:right;}
.top_all .top .top_right a{ float:left;}
.top_all .top .top_right a:hover{ color:#ef7c00;}
.top_right_like{ margin-left:20px; display:block; width:48px; background:url(../images/icons.png) no-repeat 0px 7px; padding-left:23px;}
.top_right_hk{ margin-left:20px; display:block; width:48px; background:url(../images/icons.png) no-repeat -86px 7px; padding-left:23px;}


/* 头部 */
.header{ width:1200px; height:58px; margin :20px auto;}
.header .header_logo{ width:190px; height:58px; float:left;}
.header .header_logo img{ width:190px; height:58px;}
.header .header_ad{ width:183px; height:58px; float:left; margin-left:16px;}
.header .header_ad img{ width:183px; height:58px;}
.header .header_search{ width:609px; height:58px; float:left;}
.header .header_search .header_search_top{ height:28px; border:3px #0e5baa solid; line-height:27px;}
.header .header_search .header_search_top a{ text-decoration:none;}
.header .header_search .header_search_top .header_search_top_text{ width:496px; float:left; border:none; height:28px; line-height:28px; padding:0 10px;}
.header .header_search .header_search_top .header_search_top_btn{ display:block; width:83px; height:28px; float:right; text-align:center; font-size:16px; background:#0e5baa;color:#ffffff; }
.header .header_search .header_search_bot{ height:24px; line-height:24px; overflow:hidden;}
.header .header_search .header_search_bot a{ color:#999999; margin-right:16px;}
.header .header_cart{ margin-left:32px; height:58px; float:left;}
.header .header_cart .header_cart_btn{ display:block; height:34px; padding:0 13px 0 36px; color:#ffffff; font-weight:bold; background:#ef7c00 url(../images/icons.png) no-repeat 13px -23px; line-height:34px; text-decoration:none;}

/*导航 */
.navigation{ width:100%; height:40px; border-bottom:2px #0e5baa solid;}
.navigation .nav{ width:1200px;height:40px;}    
.navigation .nav .nav_submenu{ width:190px; height:40px; background:#0e5baa url(../images/icons.png) no-repeat -258px 13px; color:#ffffff; line-height:40px; font-size:16px;text-align:center; cursor:pointer; float:left;}
.navigation .nav .nav_nav{ width:790px; height:40px; float:left; line-height:40px;}
.navigation .nav .nav_nav ul{ width:790px; height:40px;}
.navigation .nav .nav_nav ul li{ _height:40px;float:left; display:block; overflow:hidden; font-size:16px; font-weight:bold;} 
.navigation .nav .nav_nav ul li a{ display:block; overflow:hidden; height:37px; padding:0 14px;_padding:0 5px; text-decoration:none; color:#333333; margin:0 10px;_width:100px; _height:40px;_margin:0;}
.navigation .nav .nav_nav ul li a:hover{ color:#0e5baa; border-bottom:3px #043a84 solid;}
.navigation .nav .nav_nav ul li .nav_choiced{ color:#0e5baa; border-bottom:3px #043a84 solid;}
.navigation .nav .nav_num{ width:220px; height:40px; text-align:right; float:right; color:#ef7c00; font-size:14px; font-weight:bold; line-height:40px;}


/*面包屑导航 */
.crumb{ width:1180px; height:40px; line-height:40px; color:#999999; padding-left:20px; background:url(../images/icons.png) no-repeat -290px -21px;}




/*图片宽高100*/
.img100{ display:block; width:100px; height:100px; float:left;}
/*价格红色加粗*/
.money16{ font-weight:700; font-size:16px; color:#ef0000; margin-top:5px; float:left;}
/*价格删除线*/
.moneydelete{ font-size:12px; color:#999; text-decoration:line-through; font-weight:normal;}


/*底部*/
.footerall{ width:100%; display:block; overflow:hidden;  float:left; margin-top:30px;}
.footerall .footer_iconsall{ width:100%;height:130px;background:#0e5baa; overflow:hidden; display:block; }
.footerall .footer_iconsall .footer_icons{width:1200px; height:130px; }
.footerall .footer_iconsall .footer_icons dl{ text-align:center; color:#fff; margin:22px 42px; float:left;}
.footerall .footer_link{ width:1200px;line-height:24px; display:block; overflow:hidden; *+padding-bottom:15px;}
.footerall .footer_link a{ color:#999;}
.footerall .footer_link ul{ float:left; margin:20px 42px; _width:100px;_margin:20px 20px;}

.footerall .footerall_copyall{ width:100%; display:block; overflow:hidden; background:#e2e2e2;}
.footerall .footerall_copyall .footerall_copy{ width:1200px; line-height:20px; padding:10px 0;}
.footerall .footerall_copyall .footerall_copy a{ margin-right:15px;}
.footerall .footerall_copyall .footerall_copy span{ display:block; width:1200px;text-align:center;}


/*分页*/
.pagebox {
	width:100%;
	padding:30px 0;
	line-height:25px;
	display:block; overflow:hidden;
    }
.pagebox .num {
	float:left;
	text-align:right;
	width:82%;display:block; overflow:hidden;}
.pagebox .num a {
	display:inline-block;
	border:1px solid #ddd;
	padding:0 10px;
	background:#fff;
	margin:0 2px;}
.pagebox .num a:hover {
	background:#3b93de;
	color:#fff;}
.pagebox .num a.sel {
	color:#666;
	border:1px solid #fff;
	background:none;}
.pagebox .num .a0 { opacity:0.5;}
.pagebox .num .a1 span {
	display:inline-block;
	background:url(../images/page_l.png) no-repeat left center;
	padding-left:15px;}
.pagebox .num .a2 span {
	display:inline-block;
	background:url(../images/page_n.png) no-repeat right center;
	padding-right:15px;}
.pagebox .page {
	float:right;
	text-align:left;
	width:17%;display:block; overflow:hidden;
}
.pagebox .page input,.pagebox .page span { float:right; 
margin:0 2px;}
.pagebox .sub {
	width:50px;
	border:1px solid #ddd;
	height:25px;
	background:#f7f7f7;
	cursor:pointer;}
.pagebox .sub:hover { background:#3b93de;color:#fff;}
.pagebox .text {
	width:40px;
	text-align:center;
	border:1px solid #ddd;
	height:23px;
	line-height:23px;
	background:none;}
.page-orange {
	display:block;
	width:95%;
	padding-right:5%;
	text-align:right;}
.page-orange a {
	display:inline-block;
	width:30px;
	height:30px;
	text-align:center;
	border-radius:50%;
	overflow:hidden;
	border:1px solid #3b93de;
	color:#3b93de;
	line-height:30px;
	font-size:16px;
	margin-right:5px;}
.page-orange a:hover,.page-orange a.sel {
	background:#3b93de; color:#fff;}



























