@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
    padding: 0; 
    margin: 0; 
    border: none;
 font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
 font-size: 14px;
} 
ol,ul{
    list-style: none;
}
fieldset,img{
    border:0;
}
h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
    font-size: 100%; 
} 
a{
    text-decoration: none;
     color: #737373;
}
img, iframe {
    border: none;
    text-decoration:none;
} 
