@charset "utf-8";
/* CSS Document */
/*通用css*/
a{text-decoration:none;}
/*浮动*/
.left{float:left;}
.right{float:right;}
/*字体大小*/
.fz_14{font-size:14px;}
.fz_18{font-size:18px;}
.fz_24{font-size:24px;}
/*字体加粗*/
.fw_700{font-weight:700;}
/* 顶部 */
.top_ad{ width:100%; height:80px;}
.top_ad img{ width:100%; height:80px;}
/*惠客团购*/
.hui_groupbuy{
	width:1200px;
}
.hui_groupbuy .today_gb .td_group{
	margin:20px 0px;
	height:30px;
	line-height:30px;
	text-align:left;
}
.hui_groupbuy .today_gb .today_photo{

	position:relative;
}
.hui_groupbuy .today_gb .today_photo ul{
	overflow:hidden;
	width:94%;
	_width:98%;		/*IE 6*/
	margin:0 auto;
}
.hui_groupbuy .today_gb .today_photo ul li{
	float:left;
	width:200px;
	margin:0 10px;
	position:relative;
}
.hui_groupbuy .today_gb .today_photo ul li .iphone6_1{
	display:block;
	position:relative;
	width:200px;
	height:200px;
	text-align:center;
}
.hui_groupbuy .today_gb .today_photo ul li .iphone6_1 img{
	margin-top:3px;
}
.hui_groupbuy .today_gb .today_photo ul li .percentage{
	position:absolute;
	top:3px;
	right:15px;
	width:40px;
	height:47px;
	background:url(/client/images/bg_1.png) no-repeat center 0;
	text-align:center;
	color:#fff;
}
.hui_groupbuy .today_gb .today_photo ul li .trait{
	display:block;
	overflow:hidden;
	color:#333;
	height:20px;
	line-height:20px;
	text-decoration:none;
	margin-top:10px;
	text-align:center;
	font-weight:700;

}
.hui_groupbuy .today_gb .today_photo ul li .trait:hover{
	color:#f00;
}
.hui_groupbuy .today_gb .today_photo ul li .time_live{
    display:block;
    overflow:hidden;
    height:20px;
    line-height:20px;
    margin-top:10px;
    text-align:left;
    text-decoration:none;
}
.hui_groupbuy .today_gb .today_photo ul li .time_live:hover{
    color:#f00;
}
.hui_groupbuy .today_gb .today_photo ul li .snapped_up{
	margin-top:6px;
	width:100%;
	height:34px;
	background:#ef7c00;
	color:#fff;
}
.hui_groupbuy .today_gb .today_photo ul li .snapped_up input{
	width:64px;
	height:34px;
	border:none;
	padding-left:10px;
	background:url(/client/images/bg_2.png) no-repeat center;
	font-family:"微软雅黑";
	font-size:18px;
	font-weight:700;
	color:#fff;
}
.hui_groupbuy .today_gb .today_photo ul li .snapped_up b{
	display:block;
	width:124px;
	height:34px;
	line-height:34px;
	font-size:18px;
	text-align:center;
	color:#fff;
}
/*前进后退箭头样式*/
.hui_groupbuy .today_gb .today_photo .pre_1{
	display:block;
	position:absolute;
	top:35%;
	_top:5%;		/*IE 6*/
	width:24px;
	height:39px;
	background:url(/client/images/arrow_1.png) no-repeat;
	left:0;
}
.hui_groupbuy .today_gb .today_photo .next_1{
	display:block;
	position:absolute;
	top:35%;
	_top:5%;		/*IE 6*/
	width:24px;
	height:39px;
	background:url(/client/images/arrow_1.png) no-repeat;
	right:0;
	background-position:-24px;
}
/*闪电发货*/
.hui_groupbuy .today_gb ol{
	overflow:hidden;
}
.hui_groupbuy .today_gb ol li{
	float:left;
	width:11%;
}
.hui_groupbuy .today_gb ol li div{
	margin-top:30px;
	text-align:center;
}
.hui_groupbuy .today_gb ol li b{
	display:block;
	width:100%;
	height:143px;
	text-align:center;
}
.hui_groupbuy .today_gb ol li b img{
	margin-top:30px;
}
.hui_groupbuy .today_gb ol li p{
	margin:20px 0;
	text-align:center;
	color:#0e5baa;
}
/*全部团购*/
.hui_groupbuy .whole_gb{
	float:left;
}
.hui_groupbuy .whole_gb .wh_group{
	float:left;
	display:block;
	margin:20px 0px;
	width:100%;
	*+width:1200px;
	_width:100%;
	height:30px;
	line-height:30px;
	text-align:left;
}
.hui_groupbuy .whole_gb ul{
	float:left;
	overflow:hidden;
}
.hui_groupbuy .whole_gb ul li{
	float:left;
	position:relative;
	width:218px;
	height:342px;
	margin-right:20px;
	margin-bottom:20px;
	border:solid 1px #dddddd;
}
.hui_groupbuy .whole_gb ul li a{
	display:block;
}
.hui_groupbuy .whole_gb ul li .time_left{
	position:absolute;
	top:200px;
	width:100%;
	height:20px;
	background-color:rgba(0,0,0,0.3);
	*+background:url(../images/whole_gb/bg_1.png) repeat-x center;
	line-height:20px;
	text-align:center;
	color:#fefefe;
}
.hui_groupbuy .whole_gb ul li .price{
	height:122px;
	background:#f1f1f1;
}
.hui_groupbuy .whole_gb ul li .trait{
	display:block;
	overflow:hidden;
	color:#333;
	width:100%;
	height:20px;
	padding-top:10px;
	text-align:center;
	text-decoration:none;
}
.hui_groupbuy .whole_gb ul li .trait:hover{
	color:#f00;
}
.hui_groupbuy .whole_gb ul li p{
	text-align:center;
}
.hui_groupbuy .whole_gb ul li p b{
	display:block;
	margin:5px 0;
	color:#f00;
}
.hui_groupbuy .whole_gb ul li p del{
	display:block;
	margin-top:-5px;
}
.hui_groupbuy .whole_gb ul li input{
	display:block;
	width:88px;
	height:30px;
	margin:0 auto;
	margin-top:10px;
	border:none;
	border-radius:3px;
	-moz-border-radius:3px;		/*firefox*/
    -ms-border-radius:3px;		/*IE*/
    -webkit-border-radius:3px;  /*chrome、safari*/
    -o-border-radius:3px;		/*opera*/
	background:#ef7c00;
	font-size:16px;
	font-weight:700;
	text-align:center;
	color:#fff;
}
/*分页*/
.pagebox .num {
	*+width:984px;
}


/*图片轮播*/
    .js{width:90%; margin:10px auto 0 auto; }
    .js p{ padding:5px 0; font-weight:bold; overflow:hidden;  }
    .js p span{ float:right; }
    .js p span a{ color:#f00; text-decoration:underline;   }
    .js textarea{ height:50px;  width:98%; padding:5px; border:1px solid #ccc; border-top:2px solid #aaa;  border-left:2px solid #aaa;  }

    /* 本例子css */
    .scrollBox{ width:1200px;padding:10px;border-top:1px solid #fff; position:relative; }
    .scrollBox .piclist{ overflow:hidden; zoom:1;}
    .scrollBox .ohbox{overflow:hidden; position:relative;width:1100px;}
    .scrollBox {position:relative;overflow:hidden;zoom:1;}
    .scrollBox .piclist li{float:left; display:inline; width:188px;background:#fff;margin-right:23px;}
    .scrollBox .piclist img{width:200px;height:200px;}

    .scrollBox .pageBtn span{ display:block;width:21px;height:37px;position:absolute;top:72px;cursor:pointer;text-indent:-999em;overflow:hidden; }
    .scrollBox .pageBtn .prev{ background:url(/client/images/icon-8.png) no-repeat;left:20px;}
    .scrollBox .pageBtn .next{ background:url(/client/images/icon-9.png) no-repeat;right:20px;}
    .scrollBox .pageBtn .list{overflow:hidden;zoom:1;margin:10px 0 0 413px; }
    .scrollBox .pageBtn .list li{ background:#fff; float:left; display:inline; width:15px;height:15px;background-position:-86px -57px ;cursor:pointer;margin-left:10px;line-height:10000px;overflow:hidden;  }
    .scrollBox .pageBtn .list li.on{background-position:-114px -57px }

.timing{width:200px; height:23px;background:url(/client/images/thedark.png) repeat;color:#fff;position:absolute;z-index:333;top:180px; text-align:center;line-height:23px;}


















