@charset "utf-8";
/* CSS Document */
/*全部商品分类*/
.navigation .nav .nav_submenu{background-color:#043a84;}

.contents_box{width:100%;background-color:#f2f8ff;}
/*banner*/
.advertising{width:100%;height:439px;background:#ff2700;}
.advertising .advertising_content{width:1200px;margin:0 auto;overflow:hidden;}
.advertising .advertising_content .advertising_ifm{float:left;color:#fefefe;}
.advertising .advertising_content .advertising_ifm a{float:left;color:#fefefe;margin-right:15px;margin-top:5px;}
.advertising .advertising_content .adver_left{width:190px;height:439px;background-color:#043a84;}
.advertising .advertising_content .adver_middle{width:750px;height:439px;margin:0px 29px;_margin:0px 22px;}
.advertising .advertising_content .adver_middle img{width:750px;height:439px;}
.advertising .advertising_content .adver_right{width:201px;height:433px;margin-top:3px;color:#333333;background-color:#ffffff;}

/*banner产品分类*/
.advertising .advertising_content .advertising_ifm .product_categories{padding-top:10px;padding-bottom:10px;padding-left:10px;_padding-bottom:30px;overflow:hidden;}
.advertising .advertising_content .advertising_ifm .phone_1,.phone_3{background:#0e5baa;}

/*banner服务与公告*/
.advertising .advertising_content .adver_right .dedication{font-size:14px;height:40px;margin-left:10px;line-height:40px;}
.advertising .advertising_content .adver_right .special_service{width:201px;overflow:hidden;background-color:#ffeae6;}
.advertising .advertising_content .adver_right .special_service li{float:left;width:66px;padding:9px 17px;_padding:9px 5px;}
.advertising .advertising_content .adver_right .special_service li a{display:block;width:60px;padding-top:42px;height:12px;;line-height:12px;text-align:center;text-decoration:none;color:#333333;}
.advertising .advertising_content .adver_right .special_service .li_1{border-right:solid 1px #FFFFFF;}
.advertising .advertising_content .adver_right .special_service .li_3{border-top:solid 1px #FFFFFF;border-right:solid 1px #FFFFFF;}
.advertising .advertising_content .adver_right .special_service .li_4{border-top:solid 1px #FFFFFF;}
.advertising .advertising_content .adver_right .special_service li .icon_1{background:url(../images/sdfh.png) no-repeat center 0;}
.advertising .advertising_content .adver_right .special_service li .icon_2{background:url(../images/qczp.png) no-repeat center 0;}
.advertising .advertising_content .adver_right .special_service li .icon_3{background:url(../images/wlyth.png) no-repeat center 0;}
.advertising .advertising_content .adver_right .special_service li .icon_4{background:url(../images/qcby.png) no-repeat center 0;}

/*banner公告*/
.advertising .advertising_content .adver_right .announcement{font-size:14px;height:40px;margin-left:10px;line-height:40px;}
.advertising .advertising_content .adver_right .announcement_list{padding:10px;_padding:0px;height:178px;*+height:160px;_height:178px;background-color:#ffeae6;}
.advertising .advertising_content .adver_right .announcement_list a{display:block;color:#666666;}

/*团购*/
.group_buy{width:1204px;overflow:hidden;margin-top:20px;}
.group_buy a{display:block;float:left;border-right:solid 1px #f2f8ff;width:201px;}
.group_buy .tg_1{width:190px;}
.group_buy .tg_6{border-right:none;}

/*今日特价*/
.today_specials{width:1204px;overflow:hidden;border-top:solid 1px #f2f8ff;padding-bottom:20px;}
.today_specials a{display:block;float:left;border-right:solid 1px #f2f8ff;width:201px;}
.today_specials .tj_1{width:190px;}
.today_specials .tj_6{border-right:none;}

/*1F手机大全*/
.phone_encyclopedia{width:1204px;padding-bottom:20px;}
.phone_encyclopedia .phones{width:1204px;height:46px;line-height:40px;overflow:hidden;}
.phone_encyclopedia .phones .phones_left{float:left;font-size:18px;color:#333333;}
.phone_encyclopedia .phones .phones_left span{color:#999999;font-size:24px; font-family:"Aparajita";font-style:italic;margin-left:10px;}
.phone_encyclopedia .phones .phones_right{float:right;width:435px;*+width:450px;_width:450px;}

/*手机品牌*/
.phone_encyclopedia .phone_brand{width:1204px;height:470px;background-color:#FFF;}
.phone_encyclopedia .phone_brand ul{float:left;}
.phone_encyclopedia .phone_brand .phones_logo{width:190px;height:470px;border-top:solid 3px #0e5baa;}
.phone_encyclopedia .phone_brand .phones_logo div{width:150px;height:89px;border-bottom:solid 1px #e9e9e9;}
.phone_encyclopedia .phone_brand .phones_logo .lg a{display:block;}
.phone_encyclopedia .phone_brand .phones_logo div a img{margin-left:15px;margin-top:15px;}
.phone_encyclopedia .phone_brand .phones_logo .honor{}
.phone_encyclopedia .phone_brand .phones_logo .mi{}
.phone_encyclopedia .phone_brand .phones_logo .apple{}
.phone_encyclopedia .phone_brand .phones_logo .zte{}
.phone_encyclopedia .phone_brand .phones_photo{width:404px;height:470px;background:url(../images/phones_photo.png) no-repeat;}
.phone_encyclopedia .phone_brand .phones_photo a{display:block;}
.phone_encyclopedia .phone_brand .phones_details{width:610px;overflow:hidden;}
.phone_encyclopedia .phone_brand .phones_details li{position:relative;float:left;width:202px;height:272px;border-left:solid 1px #dddddd;border-bottom:solid 1px #dddddd;}
.phone_encyclopedia .phone_brand .phones_details li .gz_dh{display:none;position:absolute;right:0px;top:0px;}
.phone_encyclopedia .phone_brand .phones_details li:hover .gz_dh{display:block;}
.phone_encyclopedia .phone_brand .phones_details li dl dt{text-align:center;padding:10px 0px;}
.phone_encyclopedia .phone_brand .phones_details li dl dt a{display:block;}
.phone_encyclopedia .phone_brand .phones_details li dl dt img:hover{
			-webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg); /* flip horizontally 180deg*/
            transform: rotateY(180deg);
            -webkit-transition-delay: 0.2s;
            -moz-transition-delay: 0.2s;
            transition-delay: 0.2s;
}
.phone_encyclopedia .phone_brand .phones_details li dl .feature{font-size:18px;font-weight:700;width:150px;margin-left:40px;height:22px;}
.phone_encyclopedia .phone_brand .phones_details li dl .introduction{width:160px;margin-left:40px;margin-top:5px;}
.phone_encyclopedia .phone_brand .phones_details li dl .discount{width:160px;margin-left:40px;margin-top:5px;font-size:14px;font-weight:700;color:#ef0000;}
.phone_encyclopedia .phone_brand .phones_details li dl .discount del{font-size:12px;font-weight:normal;color:#666666;margin-left:20px;}
.phone_encyclopedia .phone_brand .phones_details .photo_4{height:197px;_padding-top:10px;border-bottom:none;}
.phone_encyclopedia .phone_brand .phones_details .photo_5{height:197px;_padding-top:10px;border-bottom:none;}
.phone_encyclopedia .phone_brand .phones_details .photo_6{height:197px;_padding-top:10px;border-bottom:none;}
.phone_encyclopedia .phone_brand .phones_details .photo_4 .introduction{margin-top:0px;}
.phone_encyclopedia .phone_brand .phones_details .photo_5 .introduction{margin-top:0px;}
.phone_encyclopedia .phone_brand .phones_details .photo_6 .introduction{margin-top:0px;}
.phone_encyclopedia .phone_brand .phones_details .photo_4 .discount{margin-top:0px;}
.phone_encyclopedia .phone_brand .phones_details .photo_5 .discount{margin-top:0px;}
.phone_encyclopedia .phone_brand .phones_details .photo_6 .discount{margin-top:0px;}
.phone_encyclopedia .phone_brand .phones_details .photo_4 dl dt{padding-bottom:8px;}
.phone_encyclopedia .phone_brand .phones_details .photo_5 dl dt{padding-bottom:8px;}
.phone_encyclopedia .phone_brand .phones_details .photo_6 dl dt{padding-bottom:8px;}

/*2F电脑/平板*/
.phone_encyclopedia .pc_com{}
.phone_encyclopedia .pc_com .pc_logo .pc{border-bottom:none;font-size:14px;margin-top:10px;margin-bottom:10px;}
.phone_encyclopedia .pc_com .pc_logo .pc h4{margin-bottom:10px;}
.phone_encyclopedia .pc_com .pc_logo .pc a{margin-right:5px;}
.phone_encyclopedia .pc_com .pc_logo .computer{border-bottom:none;font-size:14px;margin-top:10px;margin-bottom:10px;}
.phone_encyclopedia .pc_com .pc_logo .computer h4{margin-bottom:10px;}
.phone_encyclopedia .pc_com .pc_logo .computer a{margin-right:5px;}

/*2F图片*/
.phone_encyclopedia .pc_com .pc_photo{width:404px;height:198px;}
.phone_encyclopedia .pc_com .pc_photo a{display:block;}
.phone_encyclopedia .pc_com .pc_photo li{position:relative;float:left;width:201px;height:196px;_padding-top:10px;border-left:solid 1px #dddddd;border-top:solid 1px #dddddd;}
.phone_encyclopedia .pc_com .pc_photo li .gz_dh{display:none;position:absolute;right:0px;top:0px;}
.phone_encyclopedia .pc_com .pc_photo li:hover .gz_dh{display:block;}
.phone_encyclopedia .pc_com .pc_photo li dl dt{text-align:center;padding:10px 0px;padding-bottom:8px;}
.phone_encyclopedia .pc_com .pc_photo li dl dt img:hover{
			-webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg); /* flip horizontally 180deg*/
            transform: rotateY(180deg);
			filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);/*ie*/
            -webkit-transition-delay: 0.2s;
            -moz-transition-delay: 0.2s;
            transition-delay: 0.2s;
}
.phone_encyclopedia .pc_com .pc_photo li dl .feature{font-size:18px;font-weight:700;width:150px;margin-left:40px;height:22px;}
.phone_encyclopedia .pc_com .pc_photo li dl .introduction{width:160px;margin-left:40px;}
.phone_encyclopedia .pc_com .pc_photo li dl .discount{width:160px;margin-left:40px;font-size:14px;font-weight:700;color:#ef0000;}
.phone_encyclopedia .pc_com .pc_photo li dl .discount del{font-size:12px;font-weight:normal;color:#666666;margin-left:20px;}

/*底部*/
.footerall{margin-top:0px;}
