@charset "utf-8";
/* CSS Document */
/* 我的正品惠客 */
.navigation .nav .nav_submenu1{ width:190px; height:40px; background:#0e5baa; color:#ffffff; line-height:40px; font-size:18px;text-align:center; cursor:pointer; float:left;}
a:hover {color:#0e5baa;}
.content .content_1 .content_1_2 ul li .nav_choiced{ color:#0e5baa;}
/* 内容 */
.content{ width:1200px; display:block; overflow:hidden;}
.content .content_1,.content .content_2,.content .content_3 { float:left;}
/* 左侧内容 */
.content .content_1{ width:190px;}
.content_1 .content_1_1{width: 190px;height: 11px; background-repeat: repeat-x; background-image: url(../images/icon-1.png); margin-bottom:20px;}
.content_1 .content_1_2{width: 160px;}
.content_1 .content_1_2 ul{ border-top:1px dashed #e0dddd; margin-bottom:15px;}
.content_1 .content_1_2 ul li{ list-style:url(../images/icon-2.png); line-height:24px; margin-left:30px; text-indent:-4px; *+text-indent:3px; }
.content .content_1 .content_1_2 .content_trade { list-style:none; list-style-image:none; font-size:14px; color:#333333; font-weight:bold;  margin-top:15px; text-indent:-12px;}
/* 右侧内容 */
.content .content_2{ margin:0px 20px 0px 20px; width:970px; display:block; overflow:hidden; }
/*  clear 空白区域  zhangji */
.clear {
    clear:both;
    height:50px;
    overflow:hidden;
    z-index:0;
}

/*=====================以下部分是Validform必须的====================*/
.Validform_checktip{ margin-left:8px; line-height:20px; height:20px; overflow:hidden; color:#999; font-size:12px; }
.Validform_right{ color:#22A011; padding-left:20px; background:url(valid_icons.png) no-repeat -40px -20px; }
.Validform_wrong{ color:#EA5D0E; padding-left:20px; white-space:nowrap; background:url(valid_icons.png) no-repeat -20px -40px; }
.Validform_loading{ padding-left:20px; background:url(icon_onload.gif) no-repeat left center; }
.Validform_error{ background:#FEFBD3; }

#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{ position:absolute; left:0px; top:-1px; z-index:-1; }
#Validform_msg .Validform_title{ position:relative; line-height:35px; height:35px; text-align:left; font-weight:bold; padding:0 10px; color:#fff; background:#33B5E5; }
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{ line-height:30px; position:absolute; right:10px; top:0px; color:#fff; text-decoration:none; }
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:10px;border:1px solid #bbb; border-top:none; text-align:left;}
/*=====================以上部分是Validform必须的====================*/