@charset "utf-8";

/* CSS Document */
* {padding: 0;margin: 0;}
body {margin: 0px;padding: 0px;color: #555;font-family:"微软雅黑", Arial, Helvetica, sans-serif;background:#fff;}
img {border:0;}
.myclear {height:0px;line-height: 0px;font-size: 0px;clear: both;visibility: hidden;overflow:hidden;padding:0;margin:0;}
div,ul,dl,dd,dt,li,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,form{ margin:0px;  padding:0px; list-style:none; list-style-type: none; word-wrap:break-word;border:none;}
a {color:#555;text-decoration: none;cursor:pointer;}
a:hover {color:#ff4454;}
textarea { resize:none;}

.mymember_out {
	position:relative;
	background:#f5f5f5;
	width:100%;
	padding-bottom:20px;
	min-width:1200px;}
.mymember_main {
	width:1200px;
	position:relative;
	margin:0 auto;}
.mymember_head {
	z-index:99;
	position:relative;
	width:100%;
	height:75px;
	background:#e7e7e7;}
.mymember_head h2 {
	position:relative;
	float:left;
	width:180px;
	text-align:center;
	border-right:1px solid #c9c9c9;
	}
.mymember_head h2 a {
	line-height:75px;
	font-size:24px;
	color:#000;
	font-weight:400;}
.mymember_head_part {
	position:relative;
	float:left;
	display:inline-block;
	padding:0 15px;
	border-right:1px solid #c9c9c9;}
.mymember_head_part a.a001 {
	line-height:75px;
	font-size:16px;
	color:#555;}
.mymember_head_part a.a002 {
	background:url(../images/mymember/arrow01.jpg) no-repeat right center;
	padding-right:15px;}
.mymember_head_part div {
	display:none;
	position:absolute;
	width:100%;
	_width:82px;
	background:#fff;
	box-shadow:0px 2px 2px #ccc;
	left:0;
	top:60px;}
.mymember_head_part div a {
	font-size:14px;
	line-height:35px;
	display:block;
	text-align:center;}
.mymember_head_part a:hover {
	color:#317ef3;}
.mymember_head_kf {
	position:absolute;
	right:2%;
	top:0;
	line-height:75px;
	font-size:16px;
	color:#777;
	padding-left:20px;
	background:url(../images/mymember/ico01.png) no-repeat left center;}
.mymember_head_kf:hover {
	color:#000;}
.mymember_menu {
	position:relative;
	background:#fff;
	width:12%;
	margin-bottom:20px;
	padding:5px 2% 20px;
	float:left;}
.mymember_menu_tit {
	position:relative;
	width:100%;
	display:block;
	text-indent:25px;
	border-bottom:1px solid #ddd;
	font-size:16px;
	line-height:35px;
	margin-top:20px;
	color:#000;}
.mymember_menu_tit img {
	position:absolute;
	left:0;
	*left:2%;
	top:10px;}
.mymember_menu_tit:hover {color:#ff4454;}
.mymember_menu_part div a {
	display:block;
	line-height:20px;
	padding-top:10px;
	font-size:12px;
	color:#555;}
.mymember_menu_part div a:hover {
	-webkit-transition: all 0.2s ease-in-out 0.01s;
    -moz-transition: all 0.2s ease-in-out 0.01s;
    -o-transition: all 0.2s ease-in-out 0.01s;
    -ms-transition: all 0.2s ease-in-out 0.01s;
    transition: all 0.2s ease-in-out 0.01s;
	color:#ff4454;
	text-indent:1em;}
.mymember_hot {
	position:relative;
	width:22%;
	float:right;}
.mymember_hot_part {
	position:relative;
	width:86%;
	padding:20px 7%;
	margin-bottom:20px;
	background:#fff;}
.mymember_hot_part h3 {
	font-size:18px;
	font-weight:400;
	color:#000;
	line-height:20px;
	margin-bottom:15px;
	}
.mymember_hot_part h4 a{
	display:inline-block;
	line-height:35px;
	font-size:16px;
	color:#fff;
	font-weight:400;
	padding:0 13px;
	border-radius:5px;
	margin-right:20px;
	background:#ff8800;}
.mymember_hot_part h4 a.mysel { background:#e83428;}
.mymember_hot_list {
	display:block;
	width:66%;
	padding-left:34%;
	height:75px;
	background:#fff;
	position:relative;
	margin-top:10px;}
.mymember_hot_list img {
	position:absolute;
	left:0;
	top:0;
	max-width:75px;
	max-height:75px;
	_width:75px;
	_height:75px;}
.mymember_hot_list p {
	line-height:20px;
	height:40px;
	overflow:hidden;
	color:#1c2b38;
	padding-top:5px;
	margin-bottom:5px;}
.mymember_hot_list b {
	font-size:14px;
	color:#ff4454;}
.mymember_hot_list:hover p{color:#ff4454;}
.mymember_hot_story {
	position:relative;
	float:left;
	margin-right:5px;
	display:block;
	_display:inline;
	width:65px;
	height:90px;}
.mymember_hot_story img {width:65px;}
.mymember_hot_story p {font-size:12px;color:#555;}
.mymember_center {
	float:left;
	width:58%;
	margin-left:2%;
	position:relative;}
.mymember_info {
	position:relative;
	width:94%;
	padding:20px 3%;
	background:#fff;
	margin-bottom:20px;}
.mymember_info01 table{width:100%;}
.mymember_header {
	display:block;
	position:relative;
	width:120px;
	height:120px;
	overflow:hidden;
	border-radius:50%;}
.mymember_fen {border-left:1px solid #eee;padding-left:30px;}
.mymember_fen a {
	display:block;
	width:90px;
	text-align:center;}
.mymember_fen a p {
	margin-top:5px;
	color:#555;
	font-weight:400;
	font-size:14px;}
.mymember_fen a p span {color:#ff8800;}
.mymember_info01 td {width:140px;}
.mymember_info01 td a {
	display:block;
	position:relative;
	width:65%;
	font-size:14px;
	line-height:20px;
	color:#333;
	padding-left:35%;}
.mymember_info01 td a img {
	position:absolute;
	right:70%;
	top:-10px;}
.mymember_info01 td a span {color:#ff8800;}
.mymember_info01 td a:hover {color:#ff8800;}
.mymember_info02 h3 {
	position:relative;
	width:100%;
	line-height:20px;
	font-weight:400;
	color:#333;
	font-size:18px;
	margin-bottom:10px;}
.mymember_info02 h3 a {
	position:absolute;
	right:0;
	top:0;
	font-size:12px;}
.mymember_info02 h3 a.a001 {
	display:inline-block;
	padding:0 10px;
	background:#f5f5f5;
	position:relative;
	margin-left:5px;}
.mymember_info02 table {border-collapse:collapse;width:100%;}
.mymember_info02 th {
	background:#f5f5f5;
	line-height:35px;
	font-weight:400;
	text-align:left;
	padding:0 5px;
	color:#333;
	font-size:12px;}
.mymember_infotab_tit01 th { background:#e7e7e7;text-align:center;}
.mymember_infotab_tit02 th { background:#fffdef;}
.mymember_info02 th a {color:#0060aa;}
.mymember_info02 td {border:1px solid #eee;padding:5px 5px; text-align:center; font-size:12px; position:relative;}
.mymember_info02 td.td001 {border-right:none; text-align:left;}
.mymember_info02 td.td001 a {
	display: inline-block;
	width:50px;
	height:50px;
	margin:0 3px;
	border:1px solid #eee;
	overflow:hidden;}
.mymember_info02 td.td001 a img {width:50px;height:50px;}
.mymember_info02 td.td002 {border-left:none; text-align:left;}
.mymember_info02 td.td003 p,.mymember_info02 td.td003 a{color:#989898;}
.mymember_info02 td.td003 a:hover{color:#ff4454;}
.mymember_info02 td h4 {color:#ff1000;}
.mymember_infotab_show { background:url(../images/mymember/arrow05.gif) no-repeat right center;display:inline-block; padding-right:15px;}
.mymember_info_show {
	display:none;
	position:absolute;
	z-index:50;
	right:78px;
	top:10px;
	background:#fff;
	border:1px solid #ddd;
	width:420px;
	padding:15px;
	text-align:left;}
.mymember_info_show i {
	position:absolute;
	right:-10px;
	top:24px;}
.mymember_info_show a {
	position:absolute;
	top:10px;
	right:10px;}
.mymember_info_show h5 {
	width:100%;
	border-bottom:1px solid #ddd;
	line-height:30px;}
.mymember_info_show span {
	display:inline-block;
	width:140px;}
.mymember_info_show p {line-height:20px; padding-top:5px;}
.mymember_info02 a:hover {color:#ff4454;}
.mymember_botad { margin:0 12px;}
#mymember_right_check {
	position:relative;
	display:block;
	width:100%;
	height:340px;
	overflow:hidden;}
#mymember_right_check li {display:none;position:absolute;left:0;top:0;width:100%;}
#mymember_storybox {width:100%;position:relative;height:90px;}
#mymember_story_next {position:absolute;right:-5px;top:20px;}
.mymember_gzlist {
	position:relative;
	display:block;
	_display:inline;
	float:left;
	margin-right:25px;
	width:180px;}
.mymember_gzlist img {
	width:180px;
	height:180px;}
.mymember_gzlist:hover { opacity:0.7;}
.mymember_gzlist p {line-height:20px;color:#555;}
.mymember_gzlist h6 {color:#ff4454; text-align:center;}
#mymember_gzbox {width:100%;position:relative;height:241px; padding-top:5px;}
#mymember_gznext {position:absolute;right:0px;top:100px;}
.mymember_shine {
	position:relative;
	display:block;
	_display:inline;
	float:left;
	margin-right:23px;
	width:180px;
	border:1px solid #eee;
	background:#f5f5f5;}
.mymember_shine a.a001 {
	display:block;
	width:100%;
	color:#555;
	background:#fff;
	line-height:20px;
	padding-bottom:5px;}
.mymember_shine a.a001 img {width:180px;height:180px; margin-bottom:5px;}
.mymember_shine a.a001 span {
	display:block;
	width:90%;
	margin:0 auto;
	font-size:14px;}
.mymember_shine a.a001:hover {opacity:0.7;}
.mymember_shine p {
	width:90%;
	padding:5px 5% 30px;}
.mymember_shine p span {
	display:block;}
.mymember_shine p a {
	position:absolute;
	right:5%;
	bottom:5px;
	display:inline-block;
	border:1px solid #ddd;
	padding:0 10px;}
#mymember_shinebox {width:100%;position:relative;height:310px; padding-top:5px;}
#mymember_shinenext {position:absolute;right:0px;top:100px;}
.mymember_mainbox {
	float:right;
	width:82%;
	position:relative;}
	
/* 其他页面 */
.mymember_info03 h3{
	position:relative;
	width:100%;
	color:#333;
	font-weight:400;
	font-size:18px;
	line-height:25px;
	margin-bottom:10px;
	}
.mymember_info03 h3 a.a001 {
	position:absolute;
	right:105px;
	top:0;
	font-size:12px;}
.mymember_info03 h3 a.a001:hover {color:#ff8800;}
.mymember_info03 h3 a.a002 {
	position:absolute;
	right:0;
	top:0;
	color:#fff;
	display:inline-block;
	padding:0 10px;
	border-radius:3px;
	background:#ff4454;
	font-size:12px;}
.mymember_info03 h3 a.a002:hover { background:#1c2b38;}
.mymember_info03 p {
	font-size:14px;
	color:#999;
	line-height:25px;}
.mymember_info03 p a {color:#999;}
.mymember_info03 p a:hover {color:#ff4454;}
.mymember_info03 p a.a001 {color:#0060aa;}
.mymember_info03 p a.a001:hover {color:#ff4454;}
.mymember_order_search {
	width:100%;
	line-height:30px;
	position:relative;
	margin-bottom:10px;}
.mymember_order_search a.a001 { color:#ff1000; font-size:14px; float:left;}
.mymember_order_search .mytext {
	width:300px;
	border:1px solid #ddd;
	height:28px;
	line-height:28px;
	text-indent:1em;
	background:#fff;
	float:right;}
.mymember_order_search .mysub {
	width:60px;
	cursor:pointer;
	border:1px solid #ddd;
	height:30px;
	background:#fff;
	float:right;
	margin-left:5px;}
.mymember_order_search .mysub:hover {
	background:#eee;}
.mymember_order_search select { float:right; line-height:30px;}
.mymember_page {
	position:relative;
	width:100%;
	text-align:right;
	padding:10px 0;}
.mymember_page a {
	display:inline-block;
	line-height:25px;
	padding:0 8px;
	font-size:14px;
	border:1px solid #ddd;
	margin-left:5px;}
.mymember_page a:hover {
	color:#fff;
	background:#ff1000;}
.mymember_page a.mysel {
	color:#fff;
	background:#ff1000;}
#mymember_likecheck {
	line-height:20px;
	position:relative;
	font-weight:400;
	width:100%;
	text-align:right;}
#mymember_likecheck span {
	position:absolute;
	left:0;
	top:0;
	font-size:18px;}
#mymember_likecheck a {
	display:inline-block;
	width:14px;
	height:14px;
	margin-left:10px;
	margin-top:2px;
	border-radius:50%;
	background:#ddd;}
#mymember_likecheck a.mysel {background:#ff1000;}
#mymember_likelist {
	margin-top:15px;
	position:relative;
	display:block;
	width:100%;}
#mymember_likelist li {width:100%;display:none;}
#mymember_likelist a {
	float:left;
	display:block;
	width:208px;
	_width:205px;
	background:#f4f4f4;
	line-height:20px;
	margin:0 10px;
	border:1px solid #ddd;
	position:relative;}
#mymember_likelist a img { width:100%; margin-bottom:5px;}
#mymember_likelist a p {
	width:90%;
	font-size:12px;
	margin:0 auto;}
#mymember_likelist a p span {
	font-size:18px;}
#mymember_likelist a i {
	color:#ff1000;
	display:block;
	width:90%;
	font-size:12px;
	margin:0 auto;}
.mymember_evaluate {
	width:100%;
	border-collapse:collapse;}
.mymember_evaluate th {
	font-weight:400;
	line-height:30px;
	border:1px solid #eee;
	background:#f5f5f5;
	text-align:center;
	font-size:12px;
	color:#777;}
.mymember_evaluate td {
	line-height:20px;
	border-bottom:1px solid #eee;
	text-align:center;
	font-size:12px;
	color:#555;
	padding:5px 0;}
.mymember_evaluate td.td001 {border-left:1px solid #eee;}
.mymember_evaluate td a {color:#1c2b38;}
.mymember_evaluate td a:hover {color:#ff4454;}
.mymember_evaluate td.td002 {
	padding-right:10px;
	text-align:left;
	border-left:none;}
.mymember_evaluate td.td003 {border-right:1px solid #eee;}
.mymember_evaluate td.td004 { background:#fdfffa;position:relative;border:1px solid #d1e5c2;}
.mymember_eva_div {
	position:relative;
	width:600px;
	text-align:left;
	font-size:12px;
	color:#555;
	min-height:30px;
	line-height:30px;
	padding:5px 0 5px 70px;
	margin:0 auto;}
.mymember_eva_div b {
	font-weight:400;
	width:70px;
	text-align:right;
	position:absolute;
	right:605px;
	top:0;}
.mymember_eva_div b font {color:#ff1000;}
.mymember_eva_div a.a001 {
	float:left;}
.mymember_eva_div a.a002 {
	display:block;
	float:left;
	border:1px solid #eee;
	line-height:75px;
	height:75px;
	width:75px;
	overflow:hidden;
	text-align:center;
	margin-right:10px;
	color:#999;}
.mymember_eva_div textarea {
	width:100%;
	height:100px;
	border:1px solid #eee;}
.mymember_eva_div .mysub {
	width:100px;
	height:30px;
	border:1px solid #ddd;
	background:#fff;
	cursor:pointer;}
.mymember_eva_div .mysub:hover { background:#eee;}
.mymember_evabox { display:none;}
.mymember_scan_check {
	position:relative;
	width:100%;
	padding:20px 0;
	}
.mymember_scan_check a {
	display:inline-block;
	margin-right:10px;
	line-height:40px;
	padding:0 30px;
	border-radius:20px;
	color:#777;
	}
.mymember_scan_check a.mysel {background:#ff4454;color:#fff;}
.mymember_scan {
	position:relative;
	width:94%;
	margin-left:4%;
	border-left:2px solid #ddd;}
#scan_line {
	position:absolute;
	left:-2px;
	top:0;
	height:200px;
	display:block;
	width:2px;
	background:#ff1000;}
.mymember_scan h3 {
	position:relative;
	line-height:30px;
	font-weight:400;
	color:#000;
	font-size:18px;
	padding-left:4%;
	margin-bottom:20px;
	width:90%;}
.mymember_scan h3 span,.mymember_scan h3 a {
	font-size:12px;
	color:#999;
	margin-left:10px;}
.mymember_scan h3 i {
	position:absolute;
	left:-10px;
	top:0;
	display:block;
	background:#fff;
	width:16px;
	height:16px;
	border-radius:50%;
	border:2px solid #ff1000;}
.mymember_scanpart {
	float:left;
	margin:0 0 30px 30px;
	_margin:0 0 30px 24px;
	position:relative;
	text-align:center;
	padding:15px;
	width:220px;
	height:250px;
	overflow:hidden;
	background:#fff;
	border:1px solid #fff;}
.mymember_scanpart a.a001 {
	z-index:10;
	position:absolute;
	right:0;
	top:0;}
.mymember_scanpart p {
	color:#555;
	height:20px;
	line-height:20px;
	margin-top:10px;
	font-size:18px;}
.mymember_scanpart:hover {
	border:1px solid #ff4454;}
.mymember_info04 h3 {
	position:relative;
	width:100%;
	line-height:30px;
	font-size:16px;
	font-weight:400;}
.mymember_info04 h3 a {
	display:inline-block;
	padding:0 20px;
	border:1px solid #ddd;
	position:absolute;
	font-size:12px;
	right:0;
	top:0;}
.mymember_info04 h3 a:hover {background:#f1f1f1;color:#333;}
.mymember_info04 dl {
	position:relative;
	display:block;
	width:96%;
	padding:15px 2%;
	margin:15px 0 70px;
	background:#fffdee;
	border:1px solid #edd28b}
.mymember_info04 dt {
	font-size:14px;
	padding-bottom:10px;
	border-bottom:1px solid #eee;
	margin-bottom:10px;
	color:#333;}
.mymember_info04 dt span { color:#ff1000;}
.mymember_green {
	width:450px;
	_width:460px;
	position:relative;
	margin:0 auto;}
.mymember_green p {
	float:left;
	margin:0 20px;
	font-size:12px;
	position:relative;
	width:70px;
	color:#999;
	text-align:center;}
.mymember_green p.mysel {color:#ff4544;}
.mymember_green p i {
	display:block;
	position:absolute;
	top:-40px;
	left:22px;
	z-index:10;
	border-radius:50%;
	border:4px solid #ddd;
	height:20px;
	background:#fff;
	width:20px;}
.mymember_green p.mysel i {border:4px solid #ff4544;}
.mymember_green p b {
	display:block;
	position:absolute;
	top:-30px;
	left:-70px;
	width:95px;
	height:8px;
	background:#ddd;}
.mymember_green p.mysel b {background:#ff4544;}
.mymember_info04 table{
	margin-top:15px;
	width:100%;
	border-collapse:collapse;}
.mymember_info04 th {
	border:1px solid #eee;
	background:#f5f5f5;
	line-height:30px;
	text-align:center;
	font-weight:400;
	color:#999;
	font-size:12px;}
.mymember_info04 td {
	border:1px solid #eee;
	line-height:20px;
	padding:10px 0;
	text-align:center;
	color:#555;
	font-size:12px;}
.mymember_sq_tab th {
	background:none;
	line-height:20px;
	padding:10px 0;
	}
.mymember_sq_tab td {
	text-align:left;
	padding:10px;}
#mymember_ordersum01 { display:none;}
#mymember_ordersum02 { display:none;}