.car_success { background:url(../images/content/zq.png) no-repeat left center; width:350px; padding:0 200px 0 100px; margin:30px auto; min-height:150px;_height:150px;}
.car_success p{margin:20px 0;}
.car_success .img { position:absolute;right:0px;top:0;}