@charset "utf-8";
/* CSS Document */
.content_2 .content_2_1{ width:970px;  float:left; margin-top:30px; _margin-top:38px;}
.content_2 .content_2_1 ul li{height:30px; float:left; width:320px; _width:305px; text-align:center; line-height:30px; font-weight:bold;}
.content_2 .content_2_1 ul .li_1{ background:url(../images/icon-13.png) no-repeat; _background-image:url(../images/icon-13.png) no-repeat; color:#fff; }
.content_2 .content_2_1 ul .li_2{ background:url(../images/icon-14.png) no-repeat; margin-left:-15px;  _margin-left:0px; width:365px; _width:355px;  }
.content_2 .content_2_1 ul .li_3{ background:url(../images/icon-15.png) no-repeat; margin-left:-20px; _margin-left:0px;  }
.content_2 .content_2_2{width:968px;  float:left;  display:block; overflow:hidden;  }
.content_2 .content_2_2 .content_2_2_1{ width:968px;  margin-top:20px;  line-height:35px; }
.content_2 .content_2_2 .content_2_2_1 .textInput{ height:30px; width:160px; }
.content_2 .content_2_2 .content_2_2_1 span{ width:150px; text-align:right; float:left;}
.content_2 .content_2_2 .content_2_2_1 #button{ height:30px;   width:130px; margin-left:30px;}
.content_2 .content_2_2 .content_2_2_1  .text{ width:100px; height:30px;  }
.content_2 .content_2_2 .content_2_2_1 #button1{  background:#0e5baa; border:0 none; color:#ffffff; height:30px; width:50px;  border-radius:3px; font-size:14px; margin-left:150px; cursor: pointer; text-align:center; line-height:30px; }
.content_2 .content_2_2 .content_2_2_1 img{vertical-align:middle;margin-left:10px; margin-right:10px;}
.content_2 .content_2_2 .content_2_2_1 .texts{vertical-align: middle;}
.content_2 .content_2_2 .content_2_2_1 a{ color:#0e5baa;}