@charset "utf-8";
/* CSS Document */
.content_2 .content_2_1{ width:970px;  float:left; margin-top:30px; _margin-top:38px;}
.content_2 .content_2_1 ul li{height:30px; float:left; width:320px; _width:305px; text-align:center; line-height:30px; font-weight:bold;}
.content_2 .content_2_1 ul .li_1{ background:url(../images/icon-13-1.png) no-repeat; _background-image:url(../images/icon-13-1.png) no-repeat;  }
.content_2 .content_2_1 ul .li_2{ background:url(../images/icon-14.png) no-repeat; margin-left:-15px;  _margin-left:0px; width:365px; _width:355px;  }
.content_2 .content_2_1 ul .li_3{ background:url(../images/icon-15-1.png) no-repeat; margin-left:-20px; _margin-left:0px; color:#fff;  }
.content_2 .content_2_2{width:968px;  float:left; margin-top:10px; border:1px solid #e6e6e6; display:block; overflow:hidden;  }
.content_2 .content_2_2 .content_2_2_1,.content_2 .content_2_2 .content_2_2_2{ float:left;}
.content_2 .content_2_2 .content_2_2_1{ width:300px; border-right:1px solid #e6e6e6; display:block; overflow:hidden;}
.content_2 .content_2_2 .content_2_2_1 .l_1{ height:30px; background:#f7f7f7; padding-left:10px; line-height:30px;}
.content_2 .content_2_2 .content_2_2_1 .l_2{ border-bottom:1px dashed  #f7f7f7; padding:10px; display:block; overflow:hidden; float:left; }
.content_2 .content_2_2 .content_2_2_1 .l_2 dl{ height:90px;}
.content_2 .content_2_2 .content_2_2_1 .l_2 dl dt,.content_2 .content_2_2 .content_2_2_1 .l_2 dl dd{ float:left;}
.content_2 .content_2_2 .content_2_2_1 .l_2 dl dt{ width:89px; height:89px; margin-right:10px;}
.content_2 .content_2_2 .content_2_2_1 .l_2 dl dt img{ width:89px; height:89px; border:1px solid #e6e6e6;}
.content_2 .content_2_2 .content_2_2_1 .l_2 dl dd{ width:180px; _width:175px; height:89px; overflow:hidden;}
.content_2 .content_2_2 .content_2_2_1 .l_3{ width:280px; padding:10px; float:left;}
.content_2 .content_2_2 .content_2_2_1 .l_3 dl dt,.content_2 .content_2_2 .content_2_2_1 .l_3 dl dd{ height:15px;}
.content_2_2 .content_2_2_1 .l_3 dl dd{ margin-top:5px;}
.content_2 .content_2_2 .content_2_2_1 .l_3 dl dd span{ color:#fe0000;}
.content_2 .content_2_2 .content_2_2_1 .l_4{ background:#f7f7f7; border-top:1px solid #e6e6e6; height:30px; width:300px; float:left; padding-left:10px; line-height:30px; }
.content_2 .content_2_2 .content_2_2_1 .l_5 ul{ padding:10px; float:left; }
.content_2 .content_2_2 .content_2_2_1 .l_5 ul li .sp_1{ color:#0e5baa; width:260px;}
.content_2 .content_2_2 .content_2_2_1 .l_5 ul li .sp_2{ color:#ef0000;}
.content_2 .content_2_2 .content_2_2_2{ margin-left:20px; margin-top:10px; display:block; overflow:hidden;}
.content_2 .content_2_2 .content_2_2_2 dl{ margin:70px  0px 0px 200px;}
.content_2 .content_2_2 .content_2_2_2 dl dt,.content_2 .content_2_2 .content_2_2_2 dl dd{ float:left;}
.content_2 .content_2_2 .content_2_2_2 dl .th{ font-size:24px; color:#333333; line-height:110px;}
.content_2 .content_2_2 .content_2_2_2 dl .fh a{ color:#999999; line-height:125px;}
.content_2 .content_2_2 .content_2_2_2 dl dd{ margin-left:-8px;}