
li{ list-style:none;}
a:hover{ text-decoration:none;}




.content_2 .content_2_1{ width:970px;  float:left; margin-top:30px; _margin-top:38px;}
.content_2 .content_2_1 ul li{height:30px; float:left; width:320px; _width:305px; text-align:center; line-height:30px; font-weight:bold;}
.content_2 .content_2_1 ul .li_1{ background:url(../images/secret_02.png) no-repeat; _background-image:url(../images/secret_02.png) no-repeat; }
.content_2 .content_2_1 ul .li_2{ background:url(../images/icon-14.png) no-repeat; margin-left:-15px;  _margin-left:0px; width:365px; _width:355px;  }
.content_2 .content_2_1 ul .li_3{ background:url(../images/secret_01.png) no-repeat; margin-left:-20px; _margin-left:0px;   color:#fff; }



.right_yes{ width:314px; height:50px;  margin-top:120px; overflow:hidden;}
.right_yes *{ float:left;}
.secret_title_01{ display:block;   height:50px; line-height:30px; font-size:18px; color:#0e5baa; margin-left:10px; }
.secret_title_02{ display:block;   height:50px; line-height:30px; margin-left:10px; }