li{ list-style:none;}
a:hover{ text-decoration:none;}


.content_2 .content_2_1{ width:970px;  float:left; margin-top:30px; _margin-top:38px;}
.content_2 .content_2_1 ul li{height:30px; float:left; width:320px; _width:305px; text-align:center; line-height:30px; font-weight:bold;}
.content_2 .content_2_1 ul .li_1{ background-image:url(../images/icon-13.png); background-repeat:no-repeat; _background-image:url(../icon-13.png) no-repeat; color:#fff;  }
.content_2 .content_2_1 ul .li_2{ background:url(../images/icon-14.png) no-repeat; margin-left:-15px;  _margin-left:0px; width:365px; _width:355px;  }
.content_2 .content_2_1 ul .li_3{ background:url(../images/icon-15.png) no-repeat; margin-left:-20px; _margin-left:0px;  }

.secret_tast_box{ width:1000px;}
.secret_tast_box *{ float:left;}
.secret_tast_01,.secret_tast_02,.secret_tast_03{ float:left; width:790px; margin-top:20px; }

.secret_tast_01 div { height:30px; line-height:30px; color:#666666;}
.secret_tast_01 input{ width:200px; height:30px; border:#c3c3c3 1px solid;}

.secret_tast_02 div { height:30px; line-height:30px; color:#666666;}
.secret_tast_02 input{ width:200px; height:30px; border:#c3c3c3 1px solid;}
.secret_tast_02 a{ margin-left:10px; display:block;  background-image:url(../images/secret_tast.png); background-repeat:no-repeat; height:30px; width:120px; line-height:30px; text-align:center; color:#333333; _margin-left:6px;}

.secret_tast_03 div { height:30px; line-height:30px;}
.secret_tast_03 input{ width:200px; height:30px; border:#c3c3c3 1px solid; *+margin-left:-50px;  _margin-left:0px; }
.secret_tast_03 img{ height: 30px; margin-left:10px;}
.secret_tast_03 p,.secret_tast_03 a{ margin-left:10px;  height:30px; line-height:30px; }

.secret_tast_over{ width:790px; margin-left:50px;margin-top:20px; margin-left:146px;  _margin-left:68px;  }
.secret_tast_over a{ display:block; background-image:url(../images/evaluate_sure.png); background-repeat:n; height:30px; width:50px; line-height:30px; text-align:center; color:white;}

.secret_tast_01{ margin-left:50px;  _margin-left:20px;}
.secret_tast_02{ margin-left:38px;  _margin-left:14px; }
.secret_tast_03{ margin-left:98px; _margin-left:44px; }