@charset "utf-8";
/* CSS Document */
.left{float:left;}
.right{float:right;}
/* 顶部 */
.top_ad{ width:100%; height:80px;}
.top_ad img{ width:100%; height:80px;}
/*惠客秒杀*/
.hui_spike{
	width:1200px;
}
.hui_spike ul{
	overflow:hidden;
	width:100%;
}
.hui_spike ul li{
	position:relative;
	float:left;
	margin-right:40px;
	margin-top:30px;
	width:578px;
	height:303px;
	border:solid 1px #eaeaea;
}
.hui_spike ul .merch_2{
	margin-right:0px;
}
.hui_spike ul li .iPhone6{
	float:left;
	width:305px;
	text-align:center;
	margin-top:14px;
	overflow:hidden;
}
.hui_spike ul li .spike_right{
	_position:absolute; /*IE 6*/
	_right:0;           /*IE 6*/
	_top:0;				/*IE 6*/
	float:left;
	width:273px;
	height:303px;
	background:#f9f9f9;
}
.hui_spike ul li .spike_right .iPhone_logo{
	text-align:center;
	margin:14px 0;
}
.hui_spike ul li .spike_right .trait{
	display:block;
	overflow:hidden;
	font-size:16px;
	color:#333;
	height:36px;	
	padding:0 14px;
	text-decoration:none;
}
.hui_spike ul li .spike_right .trait:hover{
	color:#F00;
}
.hui_spike ul li .spike_right .special_offer{
	overflow:hidden;
	padding:0 14px;
	margin-top:90px;
	_height:36px;	/*IE 6*/
}
.hui_spike ul li .spike_right .special_offer del,b{
	float:left;
	width:50%;
	text-align:center;
}
.hui_spike ul li .spike_right .special_offer b{
	font-weight:normal;
}
/*剩余时间*/
.hui_spike ul li .spike_right .time_left{
	overflow:hidden;
	margin-top:25px;
	background:#6c6c6c url(../images/spike/clock.png) no-repeat 10px center;
	padding:5px 14px;
	padding-left:34px;
	_height:28px;			/*IE 6*/
	_line-height:28px;		/*IE 6*/
	_padding:0 14px;		/*IE 6*/
	_padding-left:34px;		/*IE 6*/
}
.hui_spike ul li .spike_right .time_left div{
	float:left;
	color:#fff;	
}
.hui_spike ul li .spike_right .time_left .remaining{
	float:right;
}
/*抢购定位层*/
.hui_spike ul li .snapped_up{
	position:absolute;
	top:140px;
	right:0px;
	width:314px;
	height:57px;
	background:url(../images/spike/long_arrow.png) no-repeat;
}
.hui_spike ul li .snapped_up b{
	float:right;
	display:block;
	height:57px;
	line-height:57px;
	font-size:18px;
	text-align:center;
	color:#fff;
}
.hui_spike ul li .snapped_up .snapp_price{
	width:163px;	
}
.hui_spike ul li .snapped_up .snapp{
	float:right;
	width:110px;
	height:57px;
	border:none;
	background:#d96100;
	font-family:"微软雅黑";
	font-size:18px;
	font-weight:700;
	color:#fff;
}



































