<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>暂无标题</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/common.js"></script>

<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
$(document).ready(function(){
  
});
</script>
</head>

<body>
<header class="comhead">
  <div class="main">
    <p>免费领取</p>
    <a class="a1" href="#">返回</a>
    <a class="a2" href="#"><img src="images/home.png" height="25" /></a>
  </div>
</header>
<div class="comhead_bg"></div>
<!--header END-->

<menu class="mainbox freelist">
  <a href="#"><img src="images/free01.png" /></a>
  <a href="#"><img src="images/free02.png" /></a>
  <a href="#"><img src="images/free03.png" /></a>
</menu>

<div class="clear h40"></div>
<section class="botlogin">
  <a href="#">登录</a><a class="ml20" href="#">注册</a>
  <a class="a1" href="#">TOP</a>
</section>
<footer class="comfoot main">
    <a href="#">电脑版</a>
    <a href="#">触屏版</a>
</footer>
<p class="bottext mainbox">Copyright©2015 www.cytm99.com 保留所有版权</p>
<p class="bottext mainbox">滇ICP备0932488号</p>

</body>
</html>
