<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>暂无标题</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/common.js"></script>

<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
$(document).ready(function(){
  searchTextClear(".comserch_text","搜索关键字","#999","#333");
  indexBanner("box","sum",300,5000,"pronum");
});
</script>
</head>

<body>
<header class="comhead">
  <div class="main">
    <p>秒杀详细</p>
    <a class="a1" href="#">返回</a>
    <a class="a2" href="#"><img src="images/home.png" height="25" /></a>
  </div>
</header>
<div class="comhead_bg"></div>
<!--header END-->
<!--comcheck END-->
<section id="box">
  <ul id="sum">
    <li><img src="images/img02.png" /></li>
    <li><img src="images/img02.png" /></li>
    <li><img src="images/img02.png" /></li>
  </ul>
  <div class="clear"></div>
</section><!--我是banner-->
<p class="mainbox timebox">剩余时间：<b>2</b><b>3</b>：<b>4</b><b>5</b>：<b>1</b><b>2</b></p>
<div class="main" style="z-index:10;">
  <a class="pro_share" href="#">关注</a>
  <h3 class="protext red">￥3555.00<span class="unl-lt c9 fs07 ml10">￥1222.00</span></h3>
  <p class="center fs09">【标题之类的东西】我就不管是啥东西了</p>
  <p class="center fs07 red mb10">【包邮】反正是说明</p>

  <div class="protext">
    <table>
      <tr>
        <th width="80">选择实体店：</th>
        <td>
          <select><option>云南昆明</option></select> 
        </td>
      </tr>
      <tr>
        <th>颜色：</th>
        <td>
          <a class="sel" href="#">黑色</a>
          <a href="#">黑色</a>
          <a href="#">黑色</a>
          <a href="#">黑色</a>
          <a href="#">黑色</a>
        </td>
      </tr>
      <tr>
        <th>颜色：</th>
        <td>
          <a class="sel" href="#">黑色</a>
          <a href="#">黑色</a>
          <a href="#">黑色</a>
          <a href="#">黑色</a>
          <a href="#">黑色</a>
        </td>
      </tr>
    </table>
  </div>
  
  <a class="protext" href="#">规格参数</a>
  <a class="protext" href="#">图文详情</a>
  <a class="protext" href="#">车友评价（255）</a>
  <a class="protext" href="#">留言咨询（255）</a>
 
</div><!--main END-->

<div class="clear h40"></div>
<section class="botlogin">
  <a href="#">登录</a><a class="ml20" href="#">注册</a>
  <a class="a1" href="#">TOP</a>
</section>
<footer class="comfoot main">
    <a href="#">电脑版</a>
    <a href="#">触屏版</a>
</footer>
<p class="bottext mainbox">Copyright©2015 www.cytm99.com 保留所有版权</p>
<p class="bottext mainbox">滇ICP备0932488号</p>
<div class="buyfoot_bg"></div>
<footer class="buyfoot">
  <div class="mainbox">
    <a class="fl" href="#">立即购买</a>
    <a class="fr" href="#">加入购物车</a>
    <div class="clear"></div>
  </div>
</footer>
</body>
</html>
