/* 放大后缩小 */
.news_la:hover img{
	animation: news_listgo 1s ease-in-out 0.1s;
	-webkit-animation: news_listgo 1s ease-in-out 0.1s;
	-moz-animation: news_listgo 1s ease-in-out 0.1s;
	-o-animation: news_listgo 1s ease-in-out 0.1s;
	-ms-animation: news_listgo 1s ease-in-out 0.1s;
}
@keyframes inertia_left {
	0% {right:-500%;}
	50% {right:40px;}
	75% {right:-20px;}
	100% {right:0px;}
}

@-webkit-keyframes inertia_left {
	0% {right:-500%;}
	50% {right:40px;}
	75% {right:-20px;}
	100% {right:0px;}
}

@-moz-keyframes inertia_left {
	0% {-moz-transform:scale(1);}
	50% {-moz-transform:scale(1.1);}
	100% {-moz-transform:scale(1);}
}

@-o-keyframes inertia_left {
	0% {-o-transform:scale(1);}
	50% {-o-transform:scale(1.1);}
	100% {-o-transform:scale(1);}
}

@-ms-keyframes inertia_left {
	0% {-ms-transform:scale(1);}
	50% {-ms-transform:scale(1.1);}
	100% {-ms-transform:scale(1);}
}