
<#--
<#if cart_goods_list?? && cart_goods_list?size gt 0>
    <table class="car_list">
        <tr>
            <th colspan="3">商品信息</th>
            <th>单价</th>
            <th>数量</th>
            <th>合计</th>
            <th>操作</th>
        </tr>
        
        <#assign allChecked=true >
        <#assign totalGoods=0>
        <#assign totalPrice=0>
        
                        
            <tr>
                <td width="20">
                    <input type="checkbox" onclick="javascript:toggleSelect(${cg.id});" <#if cg.isSelected>checked="checked"<#else><#assign allChecked=false></#if>/>
                </td>
                <td width="110">
                    <a href="/goods/${cg.goodsId}"><img src="${cg.goodsCoverImageUri!''}" width="100" /></a>
                </td>
                <td width="400" style="text-align:left;"><a href="/goods/${cg.goodsId}">${cg.goodsTitle!''}</a></td>
                <td class="red">￥${cg.price?string("0.jz00")}</td>
                <td width="150" class="num">
                    <a href="javascript:minusNum(${cg.id});"> - </a>
                    <input class="text" type="text" value="${cg.quantity!''}" />
                    <a href="javascript:addNum(${cg.id});"> + </a>
                </td>
                <td class="red">￥${(cg.price*cg.quantity)?string("0.00")}</td>
                <td><a class="del" href="javascript:delCartItem(${cg.id});">删除</a></td>
                <#if cg.isSelected>
                    <#assign totalGoods=totalGoods+cg.quantity>
                    <#assign totalPrice=totalPrice+cg.price*cg.quantity>
                </#if>
            </tr>
        </#list>
        
    
        <tr>
          <td width="20"><input type="checkbox" <#if allChecked>checked="checked" onclick="javascript:toggleAllSelect(1);"<#else>onclick="javascript:toggleAllSelect(0);"</#if>/></td>
          <td colspan="2" style="text-align:left;">
            <span class="mr20">全选</span>
            <#--<a class="c9" href="#">删除选中的商品</a>-->
          </td>
          <td colspan="4" style="text-align:right; font-size:16px; line-height:35px;">
            商品<span class="fc fw-b"><#if cart_goods_list??>${totalGoods!'0'}</#if></span>件&nbsp;&nbsp;
            总价：<span class="fc fw-b">￥<#if cart_goods_list??>${totalPrice?string("0.00")}</#if></span>&nbsp;&nbsp;
            商品总计（不含运费）：<span class="fc fw-b">￥<#if cart_goods_list??>${totalPrice?string("0.00")}</#if></span>
          </td>
        </tr>
    </table>
    
    <div class="clear"></div>
    
    <div class="car_btn">
        <a class="ml20 fc" href="/">继续购物</a>
        <input class="sub" type="submit" onclick="javascript:goNext(${totalGoods!0});" value="去结算" />
    </div>
    
    <div class="clear"></div>
<#else>
    <div class="car_kong">
        <p class="fc fs18 pb10">购物车空空的哦，去看看心意的商品吧！</p>
        <p class="pt20"><a class="blue" href="/">马上去购物>>  </a></p>
    </div>
</#if>
-->




<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>丫丫手机网</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/cytm.css" rel="stylesheet" type="text/css" />
<link href="css/cartoon.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/mymember.css" rel="stylesheet" type="text/css" />
<!--<link href="css/member.css" rel="stylesheet" type="text/css" />-->
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/mymember.js"></script>
<script src="js/common.js"></script>
<script src="js/ljs-v1.01.js"></script>

<!--[if IE]>
   <script src="js/html5.js"></script>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a.js" ></script>
<script>
DD_belatedPNG.fix('.,img,background');
</script>
<![endif]-->
<script type="text/javascript">
  $(document).ready(function(){
	menuDownList("top_phone","#top_phonelist",".a1","sel");
	phoneListMore();//单独下拉
    menuDownList("top_order","#top_orderlist",".a4","sel");//顶部下拉
	navDownList("navdown","li",".nav_showbox");
	menuDownList("mainnavdown","#navdown",".a2","sel");
	checkNowHover("shopping_down","shopping_sel");
});
</script>

</head>
<body>
<div class="top">
    <div class="w1200 top1">
        <p class="huanyin">商城访问量：<span class="blue">24234</span></p>
            <p class="huanyin">在线人数：<span class="blue">3586</span></p>
    
        <div class="wdbgg">
        <a href="#">登陆</a>
        <a href="#">免费注册</a>
        <a href="#">我的订单</a>
        <a href="#">会员中心</a>
        <a href="#">在线咨询</a>
        服务热线：400-666-5030
        </div>
        
      </div>
    </div>
<div class="w1200 top2">
    <div class="logo"><a href="#"><img src="images/liebiao_03.png" width="200" height="100" /></a></div>
    <div class="tpgg"><a href="#"><img src="images/liebiao_06.png" width="70" height="38" /></a></div>
  <div class="ssbox">
        <div class="clear"></div>
        <input type="text" class="ss_txt"  />
        <input type="submit" class="ss_btn" value="" />
  </div>
  <div id="shopping_down" class="shopping_box">
    <span class="sp1">5</span>
    <a class="a9" href="#"><img src="images/liebiao_09.png" width="28" height="28" />购物车<i></i></a>
    <menu>
      <!--<h3 class="ta-c pa15 fs14 fw400">购物车中还没有商品，赶紧选购吧！</h3>-->
      <h2>最新加入的商品</h2>
      <h3 class="tit">
        <span>满减</span>
        购满1999元，即可享受满减优惠 小计：￥2888.00
      </h3>
      <div class="shopping_list">
        <div class="clear"></div>
        <a class="a2" href="#"><img src="images/liebiao_23.png" /></a>
        <a class="a3" href="#">得力(deli)0012 优质高强度订书钉12# 1000枚/盒 10盒装</a>
        <p>￥2888.00 x1<a href="#">删除</a></p>
        <div class="clear"></div>
      </div>
      <div class="shopping_list">
        <div class="clear"></div>
        <a class="a2" href="#"><img src="images/liebiao_23.png" /></a>
        <a class="a3" href="#">得力(deli)0012 优质高强度订书钉12# 1000枚/盒 10盒装</a>
        <p>￥2888.00 x1<a href="#">删除</a></p>
        <div class="clear"></div>
      </div>
      <div class="shopping_list">
        <div class="clear"></div>
        <a class="a2" href="#"><img src="images/liebiao_23.png" /></a>
        <a class="a3" href="#">得力(deli)0012 优质高强度订书钉12# 1000枚/盒 10盒装</a>
        <p>￥2888.00 x1<a href="#">删除</a></p>
        <div class="clear"></div>
      </div><!--shopping_list END-->
      <h3 class="tit">
        <span>满减</span>
        购满1999元，即可享受满减优惠 小计：￥2888.00
      </h3>
      <div class="shopping_list">
        <div class="clear"></div>
        <a class="a2" href="#"><img src="images/liebiao_23.png" /></a>
        <a class="a3" href="#">得力(deli)0012 优质高强度订书钉12# 1000枚/盒 10盒装</a>
        <p>￥2888.00 x1<a href="#">删除</a></p>
        <div class="clear"></div>
      </div><!--shopping_list END-->
      <h4 class="shopping_price">
        共1件商品 &nbsp;&nbsp;共计<span class="fw-b">￥2288.00</span>
        <a href="#">去结算</a>
      </h4>
    </menu>
  </div>
</div>
<aside class="floatbox">
  <a href="#" title="微信客服"><img src="images/float_ico01.png" width="42" height="42" alt="微信客服" /><span><img src="images/sys02.png" /></span></a>
  <a href="#" title="在线咨询"><img src="images/float_ico02.png" width="42" height="42" alt="在线咨询" /></a>
  <a href="#" title="新浪微博"><img src="images/float_ico03.png" width="42" height="42" alt="新浪微博" /></a>
  <a href="#" title="服务热线"><img src="images/float_ico04.png" width="42" height="42" alt="服务热线" /><span><img src="images/sys02.png" /></span></a>
  <a href="javascript:$('html,body').animate({scrollTop:0},500);" title="到顶部"><img src="images/float_ico05.png" width="42" height="42" alt="到顶部" /></a>
</aside>
<nav class="navbox">
<div class="w1200">
  <section class="navlist" id="mainnavdown">
    <a href="#" class="a2">全部商品分类</a>
    <ul class="navlistout" id="navdown" style="display:none;">
      <li>
        <h3><a href="#">汽车贴膜</a></h3>
        
        <div class="nav_showbox">
          <div class="clear"></div>
          
          <table class="nav_more">
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">苹果</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
          </table>
          <div class="clear"></div>
        </div>
      </li>
      <li>
        <h3><a href="#">汽车美容</a></h3>
        
        <div class="nav_showbox">
          <div class="clear"></div>
          
          <table class="nav_more">
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">苹果</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
          </table>
          <div class="clear"></div>
        </div>
      </li>
      <li>
        <h3><a href="#">汽车坐垫</a></h3>
        
        <div class="nav_showbox">
          <div class="clear"></div>
          
          <table class="nav_more">
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
          </table>
          <div class="clear"></div>
        </div>
      </li>
      <li>
        <h3><a href="#">汽车脚垫</a></h3>
        
        <div class="nav_showbox">
          <div class="clear"></div>
          
          <table class="nav_more">
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
          </table>
          <div class="clear"></div>
        </div>
      </li>
      
      <li>
        <h3><a href="#">真皮座椅</a></h3>
        
        <div class="nav_showbox">
          <div class="clear"></div>
          
          <table class="nav_more">
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
          </table>
          <div class="clear"></div>
        </div>
      </li>
      <li>
        <h3><a href="#">车载电器</a></h3>
        
        <div class="nav_showbox">
          <div class="clear"></div>
          
          <table class="nav_more">
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
          </table>
        </div>
      </li>
      <li>
        <h3><a href="#">汽车改装</a></h3>
        
        <div class="nav_showbox">
          <div class="clear"></div>
          
          <table class="nav_more">
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
          </table>
        </div>
      </li>
      <li>
        <h3><a href="#">其他商品</a></h3>
        
        <div class="nav_showbox">
          <div class="clear"></div>
          
          <table class="nav_more">
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
          </table>
        </div>
      </li>
      <li>
        <h3><a href="#">自驾游</a></h3>
        
        <div class="nav_showbox">
          <div class="clear"></div>
          
          <table class="nav_more">
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
            <tr>
              <th width="90"><span>品牌</span></th>
              <td>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
                <a href="#">得力</a>
              </td>
            </tr>
          </table>
        </div>
      </li>
    </ul><!--navlistout END-->
  </section>
  <a class="a1" href="#">首页</a>
  <a class="a1" href="#">免费领取</a>
  <a class="a1" href="#">1元抢拍</a>
  <a class="a1" href="#">百人团购</a>
  <a class="a1" href="#">购物返利</a>
  <a class="a1" href="#">施工案例</a>
  <a class="a1" href="#">地图导航</a>
  <a class="a1" href="#">自驾游</a>
  <a class="a1" href="#">加盟热线</a>

  </div>
  
</nav>
<div class="clear"></div>

<!--mymember-->
<div class="myclear"></div>
<div class="mymember_out">
<div class="mymember_main">
  <!--mymember_head END-->
  <div class="myclear" style="height:20px;"></div>
  <div class="mymember_menu">
    <div class="mymember_menu_part">
      <a class="mymember_menu_tit" href="#"><img src="images/mymember/menu01.png" />订单中心</a>
      <div>
        <a href="#">我的订单</a>
        <a href="#">评价结单</a>
        <a href="#">取消订单记录</a>
      </div>
    </div><!--mymember_menu_part END-->
    <div class="mymember_menu_part">
      <a class="mymember_menu_tit" href="#"><img src="images/mymember/menu02.png" />关注中心</a>
      <div>
        <a href="#">关注的商品</a>
        <a href="#">浏览历史</a>
      </div>
    </div><!--mymember_menu_part END-->
    <div class="mymember_menu_part">
      <a class="mymember_menu_tit" href="#"><img src="images/mymember/menu03.png" />资产中心</a>
      <div>
        <a href="#">优惠券</a>
        <a href="#">积分</a>
      </div>
    </div><!--mymember_menu_part END-->
    <div class="mymember_menu_part">
      <a class="mymember_menu_tit" href="#"><img src="images/mymember/menu04.png" />客户服务</a>
      <div>
        <a href="#">返修退换货</a>
        <a href="#">我的投诉</a>
        <a href="#">购买咨询</a>
      </div>
    </div><!--mymember_menu_part END-->
    <div class="mymember_menu_part">
      <a class="mymember_menu_tit" href="#"><img src="images/mymember/menu05.png" />设置</a>
      <div>
        <a href="#">个人信息</a>
        <a href="#">收货地址</a>
      </div>
    </div>
    <div class="mymember_menu_part"> <a class="mymember_menu_tit" href="#"><img src="images/mymember/menu05.png" />加盟商中心</a>
        <div> <a href="#">进入加盟商中心</a> </div>
      </div><!--mymember_menu_part END-->
  </div><!--mymember_menu END-->
    <!--mymember_menu END-->
    <div class="mymember_mainbox">
      <div class="mymember_info mymember_info02">
        <div class="mymember_order_search"> <a class="a001" href="#">未使用(10)</a> <a class="a001" href="#">已使用(1)</a> <a class="a001" href="#">已过期(5)</a>
          <div class="clear"></div>
        </div>
        <table class="tb-void tb-coupon">
          <colgroup>
          <col width="90px"/>
          <col width="90px"/>
          <col width="90px"/>
          <col width="300px"/>
          <col width="150px"/>
          <col width="86px" />
          </colgroup>
          <thead>
            <tr>
              <th>面值</th>
              <th>所需消费金额</th>
              <th>使用限制</th>
              <th>有效期</th>
              <th align="left">&nbsp;</th>
            </tr>
          </thead>
          <tbody >
            
            <tr>
              <td> ￥50.00 </td>
              <td> ￥499.00 </td>
              <td> 2015年第一季使用 </td>
              <td> 2015-03-17至2015-03-2<br />
                即将到期</td>
              <td><a href="http://mall.jd.com/index-18477.html"  class="ftx-05" target="_blank">去购物&gt;</a><br />
                <a  href="#none" class="ftx-05 dellink"  onclick="conformDo(this,'952169340','11640825','EFBA56B','yngood')" >删除</a> </td>
            </tr>
            <tr>
              <td> ￥10.00 </td>
              <td> ￥20.00 </td>
              <td> 2015年第二季使用 </td>
              <td> 2015-02-26至2015-03-22<br />
                即将到期 </td>
              <td><a href="http://mall.jd.com/index-18477.html"  class="ftx-05" target="_blank">去购物&gt;</a><br />
                <a  href="#none" class="ftx-05 dellink"  onclick="conformDo(this,'931965429','11640830','82953BF','yngood')" >删除</a> </td>
            </tr>
          </tbody>
        </table>
        <div class="myclear" style="height:10px;"></div>
        <div class="mymember_page"> <a class="mysel" href="#">1</a> <a href="#">2</a> </div>
      </div>
      <!--mymember_info END-->
      <div class="mymember_info">
        <h3 id="mymember_likecheck"> <a class="mysel" href="#">&nbsp;</a> <a href="#">&nbsp;</a> <a href="#">&nbsp;</a> <span>猜你喜欢</span> </h3>
        <ul id="mymember_likelist">
          <li> <a href="#"> <img src="images/mymember/img01.jpg" />
            <p>我1111111字哦我是商品的名字哦我是商品的名字哦</p>
            <p>￥<span>2999.00</span></p>
            <i>已售 407 件</i> </a> <a href="#"> <img src="images/mymember/img01.jpg" />
            <p>我是商品的名字哦我是商品的名字哦我是商品的名字哦</p>
            <p>￥<span>2999.00</span></p>
            <i>已售 407 件</i> </a> <a href="#"> <img src="images/mymember/img01.jpg" />
            <p>我是商品的名字哦我是商品的名字哦我是商品的名字哦</p>
            <p>￥<span>2999.00</span></p>
            <i>已售 407 件</i> </a> <a href="#"> <img src="images/mymember/img01.jpg" />
            <p>我是商品的名字哦我是商品的名字哦我是商品的名字哦</p>
            <p>￥<span>2999.00</span></p>
            <i>已售 407 件</i> </a> </li>
          <li> <a href="#"> <img src="images/mymember/img01.jpg" />
            <p>我是商品的名字哦我是商品的名字哦我是商品的名字哦</p>
            <p>￥<span>2999.00</span></p>
            <i>已售 407 件</i> </a> <a href="#"> <img src="images/mymember/img01.jpg" />
            <p>我是商品的名字哦我是商品的名字哦我是商品的名字哦</p>
            <p>￥<span>2999.00</span></p>
            <i>已售 407 件</i> </a> <a href="#"> <img src="images/mymember/img01.jpg" />
            <p>我是商品的名字哦我是商品的名字哦我是商品的名字哦</p>
            <p>￥<span>2999.00</span></p>
            <i>已售 407 件</i> </a> <a href="#"> <img src="images/mymember/img01.jpg" />
            <p>我是商品的名字哦我是商品的名字哦我是商品的名字哦</p>
            <p>￥<span>2999.00</span></p>
            <i>已售 407 件</i> </a> </li>
          <li> <a href="#"> <img src="images/mymember/img01.jpg" />
            <p>我是商品的名字哦我是商品的名字哦我是商品的名字哦</p>
            <p>￥<span>2999.00</span></p>
            <i>已售 407 件</i> </a> <a href="#"> <img src="images/mymember/img01.jpg" />
            <p>我是商品的名字哦我是商品的名字哦我是商品的名字哦</p>
            <p>￥<span>2999.00</span></p>
            <i>已售 407 件</i> </a> <a href="#"> <img src="images/mymember/img01.jpg" />
            <p>我是商品的名字哦我是商品的名字哦我是商品的名字哦</p>
            <p>￥<span>2999.00</span></p>
            <i>已售 407 件</i> </a> <a href="#"> <img src="images/mymember/img01.jpg" />
            <p>我是商品的名字哦我是商品的名字哦我是商品的名字哦</p>
            <p>￥<span>2999.00</span></p>
            <i>已售 407 件</i> </a> </li>
        </ul>
        <div class="myclear"></div>
      </div>
      <!--mymember_info END-->
      <script type="text/javascript">
      $(document).ready(function(){
         mymemberMenuCheck("mymember_likecheck","a","mymember_likelist","li","mysel");
    });
    </script>
    </div>
    <!--mymember_center END-->
    <div class="myclear"></div>
  </div>
  <!--mymember_main END-->
  <div class="myclear"></div>
</div>
<!--mymember END-->
<div class="clear"></div>

<div class="down">
<section class="index_center">
  <table>
    <tr>
      <td>
        <a href="#"><img src="images/liebiao_39.png" />100％正品保障<br>
        厂商审核      商品抽检</a>
      </td>
      <td>
        <a href="images/hzd_39.png"><img src="images/liebiao_41.png" />100％品牌制造商<br>
        品牌设计      厂价直销</a>
      </td>
      <td>
        <a href="#"><img src="images/liebiao_44.png" />售后保障<br>
        无忧退换      安装服务</a>
      </td>
      
    </tr>
  </table>
</section><!--index_center END-->
</div>
<div class="down2">
<div class="main">
<ul style="height:30px;">
<li><a href="#">关于商城</a></li>
<li><a href="#">招商加盟</a></li>
<li><a href="#">联系我们</a></li>
<li><a href="#">服务条款</a></li>
<li><a href="#">用户中心</a></li>
<li><a href="#">支付方式</a></li>
<li><a href="#">售后保障</a></li>
<li><a href="#">帮助信息</a></li>
<li><a href="#">网站地图</a></li>
</ul>
<p>
友情链接： <span class="youqin"><a href="#">汽车之家</a></span><span class="youqin"><a href="#">光大银行</a></span><br />
版权所有 车有同盟 © Copyright 2003 - 2015. cytm99.com. All Rights Reserved. 滇ICP备15000306号-1<br />
云南省昆明市五华区教场西路6号 电话：400-666-5030 <br />
          <span class="flr"><a title="云南网站建设" href="http://www.ynyes.com" target="_blank">网站建设</a>技术支持：<a title="云南网站建设" href="http://www.ynyes.com" target="_blank">昆明天度网络公司</a></span>

</p>
</div>
</div>
</body>
</html>
