<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>丫丫手机网</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<!--[if IE]>
   <script src="js/html5.js"></script>
<![endif]-->
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/common.js"></script>
<script src="js/ljs-v1.01.js"></script>

<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/cartoon.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/content_l.css" />

<script type="text/javascript">
  $(document).ready(function(){
	loginBgChange("loginbg","li",7000);
	searchTextClear(".text01","用户名/邮箱/手机号","#999","#555");
});
</script>
</head>

<body>

<header class="login_top">
  <div class="main">
    <a class="a1" href="#"><img src="images/member/mylogo.png" /></a>
    <nav>
      <a href="#">手机大全</a>
      <a href="#">笔记本</a>
      <a href="#">配件中心</a>
      <a href="#">会员专享</a>
      <a href="#">门店</a>
    </nav>
  </div>
</header>

<section class="loginmain">
  <ul id="loginbg">
    <li><img src="images/photo/banner02.png" /></li>
    <li><img src="images/photo/banner03.png" /></li>
    <li><img src="images/photo/banner04.jpg" /></li>
  </ul>
  <div class="main">
    <section class="loginbox">
      <h3 class="fw400 pb20">
        <span class="ml20 fs20 red">丫丫网用户登录</span>
        <a class="unl fs14 ml100" href="javascript:void(0);" onclick="$('#register').fadeIn(300);">注册新账号</a>
      </h3>
      
      <div class="login_dl">
        <i><img src="images/member/login_arrow.png" height="11" /></i>
        <p class="p1"><input onfocus="$(this).parent().css({'box-shadow':'1px 1px 2px 2px #fdebb2','border':'1px solid #eee'})" onblur="$(this).parent().css({'box-shadow':'none','border':'1px solid #d5dbdb'})" class="text text01" type="text" value="" /></p>
        <p class="p1 p2"><input class="text" onfocus="$(this).parent().css({'box-shadow':'1px 1px 2px 2px #fdebb2','border':'1px solid #eee'})" onblur="$(this).parent().css({'box-shadow':'none','border':'1px solid #d5dbdb'})" type="text" /></p>
        <p class="p3">
          <input type="checkbox" />
          <span>自动登录</span>
          <a href="#">忘记密码？</a>
        </p>
        <div class="login_more">
          <input class="sub fr" type="submit" value="登 录" />
          <div class="clear"></div>
          <p class="pt20">
            <span class="fl">其他登录方式</span>
            <a href="#"><img src="images/member/login03.png" /></a>
            <a href="#"><img src="images/member/login04.png" /></a>
            <a href="#"><img style="top:7px;" src="images/member/login05.png" /></a>
          </p>
          <div class="clear"></div>
        </div>
      </div><!--login_dl END-->
      
    </section><!--loginbox END-->
  </div>
</section>

<footer class="mainfoot">
  <section class="main">
    <nav>

      <a href="#">关于丫丫</a>|
      <a href="#">团队介绍</a>|
      <a href="#">高薪诚聘</a>|
      <a href="#">业务合作</a>|
      <a href="#">会员积分</a>|
      <a href="#">投诉建议</a>|
      <a href="#">友情链接</a>
    </nav>
    <p class="c9 w100">
      Copyright©2006-2015 All Rights Reserved 丫丫手机网 版权所有 滇ICP备07004173号
      
    </p>
    <span><a title="云南网站建设" href="http://www.ynyes.com" target="_blank">网站建设</a><a>技术支持：</a><a title="云南网站建设" href="http://www.ynyes.com" target="_blank">昆明天度网络公司</a></span>
  </section>
</footer><!--mainfoot END-->

<aside class="winbox" id="register">
  <div class="register">
    <a class="closebox" href="javascript:void(0);" onclick="$(this).parent().parent().fadeOut(300);"><img src="images/member/close.png" /></a>
    <p class="tit"><span>注册丫丫网</span></p>
    <table>
      <tr>
        <th>用户名：</th>
        <td><input class="text" type="text" placeholder="用户名" /><p class="red">输入不合法</p></td>
      </tr>
      <tr>
        <th>设置密码：</th>
        <td><input class="text" type="text" placeholder="用户名" /></td>
      </tr>
      <tr>
        <th>确认密码：</th>
        <td><input class="text" type="text" placeholder="用户名" /></td>
      </tr>
      <tr>
        <th>手机号：</th>
        <td><input class="text" type="text" placeholder="用户名" /></td>
      </tr>
      <tr>
        <th>验证码：</th>
        <td><input class="text fl" style="width:150px;" type="text" placeholder="用户名" /><a class="fl ml10" href="#"><img src="images/member/yzm.png" /></a></td>
      </tr>
      <tr>
        <th></th>
        <td>点击注册表示同意丫丫网手机网<a href="#">《用户协议》</a></td>
      </tr>
      <tr>
        <th></th>
        <td><input type="submit" class="sub" value="注册" /></td>
      </tr>
    </table>
    <div class="clear"></div>
  </div>
</aside><!--winbox END-->

</body>
</html>
