@charset "utf-8";
.member_check {
	width:100%;
	display:block;
	height:45px;
	font-size:0.9em;
	 background:#fff; 
	border-bottom:1px solid #e6e6e6; padding:0 3%;}
.member_check11{ height:70px;}
.member_1{ height:30px;}
.member_2{ height:40px;}
.member_1,.member_2{width:94%; line-height:40px; float:left; overflow:hidden; }
.member_1 label{ width:30%; overflow:hidden;}
.member_1 span{ width:60%; margin-left:4%; overflow:hidden;}
.member_check ul{width:94%;}
.member_check ul li{ float:left; margin-top:4%;}
.member_check ul .l_1{ margin-right:18%;}
.member_check ul .l_2{ margin-left:2%;}


.ok_mainbox { width:94%;;background:#3b93de; padding: 10px 0; margin-left:3%; margin-top:10px;  text-align:center; border-radius:2px; -moz-border-radius:2px;-webkit-border-radius:2px;}
.ok_mainbox a{ color:#fff;}


/*编辑收货地址*/
.mem .member{width:100%; line-height:40px;  border-bottom:1px solid #e6e6e6; background:#fff; padding:0 3%; display: block; overflow: hidden;}
.mem .member span{float:left; width:35%;}
.mem .member input{  height:40px; width:40%;}
.mem .member label{ width:25%; overflow:hidden; float:left; text-align:right;}
.main .mem .member select{ width:39%;  height:40px; position: absolute;}
