@charset "utf-8";
.member_info {
	background:url(../images/img1/beijing.png) no-repeat;
	width:94%;
	padding:15px 3%;}
.member_info b {
	width:20%;
	padding:5px 1%;
	display:inline-block;
	float:left;}
.member_info b img{border-radius:70px; -moz-border-radius:70px;-webkit-border-radius:70px;}
.member_info p {
	width:75%;
	font-size:0.9em;
	margin-bottom:5px;
	color:#333;
	float:right;}
.member_info .nc{ margin-top:15px;}
	
.member_check {
	width:100%;
	display:block;
	height:45px;
	font-size:0.9em;
	background:url(../images/arrow02.png) no-repeat 94% center #fff;
	background-size:auto 12px;
	border-bottom:1px solid #e6e6e6;float:left;}

.member_check label{
	float:left; line-height:45px; margin-left:5px;}
.member_check img{float:left; margin-top:6px; margin-left:15px;}
.member_check1{ margin-top:20px;}


.member_line{ background:#fff; height:110px; }
.member_line .member_lin{ float:left; margin-top:20px; margin-left:7%; width:17%}
.member_line .member_lin img{width:90%;} 
.member_lin .gn{font-size:0.9em; text-align:left;}
.member_lin .gn span{ color:#ef0000;}
