@charset "utf-8";
.all_all{ background:url(../img/bg1.png) top no-repeat;}
.main {width:1200px; margin:0 auto; text-align:left;}
.main1 {width:1px; margin:0 auto; text-align:left;}
body,p,h1,h2,h3,h4,h5,h6,form,fieldset,img,div{margin:0;padding:0;border:0;  color: #666; font-size: 12px; font-family: "微软雅黑"; line-height: 21px; }
ul,ol,li,dl,dt,dd {list-style-type: none;margin: 0px;padding: 0px; margin:0; padding:0; list-style:none;}
table {margin:0;padding:0;border-collapse:collapse;border-spacing:0;}
/*in_line*/
img {border:0; vertical-align:top;}
a:hover{text-decoration:none; transition: all .5s; -moz-transition: all .5s; -ms-transition: all .5s; -o-transition: all .5s; }
a {color:#444444; text-decoration:none;}
.clear{	clear:both;	overflow:hidden;}

.h10{ height:10px;}
.ha {
	height:auto;
}
.pt8{ padding-top:8px;}
.he15{height: 15px;}
.ds{ display:inline;}
.fll {	float:left;}
.flr {	float:right;}
.wh588{ width:588px;}
.mt1 {	margin-top:1px;}
.mt2 {	margin-top:2px;}
.mt3 {	margin-top:3px;}
.mt4 {	margin-top:4px;}
.mt5 {	margin-top:5px;}
.mt6 {	margin-top:6px;}
.mt7 {	margin-top:7px;}
.mt8 {	margin-top:8px;}
.mt9 {	margin-top:9px;}
.mt10 {	margin-top:10px;}
.mt11 {	margin-top:11px;}
.mt12 {	margin-top:12px;}
.mt13 {	margin-top:13px;}
.mt14 {	margin-top:14px;}
.mt15 {	margin-top:15px;}
.mt16 {	margin-top:16px;}
.mt17 {	margin-top:17px;}
.mt18 {	margin-top:18px;}
.mt19 {	margin-top:19px;}
.mt20 {	margin-top:20px;}
.mt21 {	margin-top:21px;}
.mt22 {	margin-top:22px;}
.mt23 {	margin-top:23px;}
.mt24 {	margin-top:24px;}
.mt25 {	margin-top:25px;}
.mt26 {	margin-top:26px;}
.mt27 {	margin-top:27px;}
.mt28 {	margin-top:28px;}
.mt29 {	margin-top:29px;}
.mt30 {	margin-top:30px;}
.mt31 {	margin-top:31px;}
.mt32 {	margin-top:32px;}
.mt33 {	margin-top:33px;}
.mt34 {	margin-top:34px;}
.mt35 {	margin-top:35px;}
.mt36 {	margin-top:36px;}
.mt37 {	margin-top:37px;}
.mt38 {	margin-top:38px;}
.mt39 {	margin-top:39px;}
.mt40 {	margin-top:40px;}
.mt45 {	margin-top:45px;}
.mt43 {	margin-top:43px;}
.mt50 {	margin-top:50px;}
.mt55 {	margin-top:55px;}
.mt60 {	margin-top:60px;}
.mt86 {	margin-top:86px;}


.mr1 {	margin-right:1px;}
.mr2 {	margin-right:2px;}
.mr3 {	margin-right:3px;}
.mr4 {	margin-right:4px;}
.mr5 {	margin-right:5px;}
.mr6 {	margin-right:6px;}
.mr7 {	margin-right:7px;}
.mr8 {	margin-right:8px;}
.mr9 {	margin-right:9px;}
.mr10 {	margin-right:10px;}
.mr11 {	margin-right:11px;}
.mr12 {	margin-right:12px;}
.mr13 {	margin-right:13px;}
.mr14 {	margin-right:14px;}
.mr15 {	margin-right:15px;}
.mr16 {	margin-right:16px;}
.mr17 {	margin-right:17px;}
.mr18 {	margin-right:18px;}
.mr19 {	margin-right:19px;}
.mr20 {	margin-right:20px;}
.mr21 {	margin-right:21px;}
.mr22 {	margin-right:22px;}
.mr23 {	margin-right:23px;}
.mr24 {	margin-right:24px;}
.mr25 {	margin-right:25px;}
.mr26 {	margin-right:26px;}
.mr27 {	margin-right:27px;}
.mr28 {	margin-right:28px;}
.mr29 {	margin-right:29px;}
.mr30 {	margin-right:30px;}
.mr31 {	margin-right:31px;}
.mr32 {	margin-right:32px;}
.mr33 {	margin-right:33px;}
.mr34 {	margin-right:34px;}
.mr35 {	margin-right:35px;}
.mr36 {	margin-right:36px;}
.mr37 {	margin-right:37px;}
.mr38 {	margin-right:38px;}
.mr39 {	margin-right:39px;}
.mr40 {	margin-right:40px;}
.mr45 {	margin-right:45px;}
.mr50 {	margin-right:50px;}
.mr55 {	margin-right:55px;}
.mr60 {	margin-right:60px;}
.mr80 {	margin-right:60px;}

.ml68 {	margin-left:68px;}
.ml1 {	margin-left:1px;}
.ml2 {	margin-left:2px;}
.ml3 {	margin-left:3px;}
.ml4 {	margin-left:4px;}
.ml5 {	margin-left:5px;}
.ml6 {	margin-left:6px;}
.ml7 {	margin-left:7px;}
.ml8 {	margin-left:8px;}
.ml9 {	margin-left:9px;}
.ml10 {	margin-left:10px;}
.ml11 {	margin-left:11px;}
.ml12 {	margin-left:12px;}
.ml13 {	margin-left:13px;}
.ml14 {	margin-left:14px;}
.ml15 {	margin-left:15px;}
.ml16 {	margin-left:16px;}
.ml17 {	margin-left:17px;}
.ml18 {	margin-left:18px;}
.ml19 {	margin-left:19px;}
.ml20 {	margin-left:20px;}
.ml21 {	margin-left:21px;}
.ml22 {	margin-left:22px;}
.ml23 {	margin-left:23px;}
.ml24 {	margin-left:24px;}
.ml25 {	margin-left:25px;}
.ml26 {	margin-left:26px;}
.ml27 {	margin-left:27px;}
.ml28 {	margin-left:28px;}
.ml29 {	margin-left:29px;}
.ml30 {	margin-left:30px;}
.ml31 {	margin-left:31px;}
.ml32 {	margin-left:32px;}
.ml33 {	margin-left:33px;}
.ml34 {	margin-left:34px;}
.ml35 {	margin-left:35px;}
.ml36 {	margin-left:36px;}
.ml37 {	margin-left:37px;}
.ml38 {	margin-left:38px;}
.ml39 {	margin-left:39px;}
.ml40 {	margin-left:40px;}
.ml45 {	margin-left:45px;}
.ml50 {	margin-left:50px;}
.ml55 {	margin-left:55px;}
.ml65 {	margin-left:65px;}
.ml78 {	margin-left:78px;}
.ml75 {	margin-left:75px;}
.ml100{ margin-left:100px;}
.ml122{ margin-left:122px;}
.ml195 {margin-left:195px;}



.mb1 {	margin-bottom:1px;}
.mb2 {	margin-bottom:2px;}
.mb3 {	margin-bottom:3px;}
.mb4 {	margin-bottom:4px;}
.mb5 { padding-bottom:5px; overflow:hidden;}
.mb6 {	margin-bottom:6px;}
.mb7 {	margin-bottom:7px;}
.mb8 {	margin-bottom:8px;}
.mb9 {	margin-bottom:9px;}
.mb10 {	margin-bottom:10px;}
.mb11 {	margin-bottom:11px;}
.mb12 {	margin-bottom:12px;}
.mb13 {	margin-bottom:13px;}
.mb14 {	margin-bottom:14px;}
.mb15 {	margin-bottom:15px;}
.mb16 {	margin-bottom:16px;}
.mb17 {	margin-bottom:17px;}
.mb18 {	margin-bottom:18px;}
.mb19 {	margin-bottom:19px;}
.mb20 {	margin-bottom:20px;}
.mb21 {	margin-bottom:21px;}
.mb22 {	margin-bottom:22px;}
.mb23 {	margin-bottom:23px;}
.mb24 {	margin-bottom:24px;}
.mb25 {	margin-bottom:25px;}
.mb26 {	margin-bottom:26px;}
.mb27 {	margin-bottom:27px;}
.mb28 {	margin-bottom:28px;}
.mb29 {	margin-bottom:29px;}
.mb30 {	margin-bottom:30px;}
.mb31 {	margin-bottom:31px;}
.mb32 {	margin-bottom:32px;}
.mb33 {	margin-bottom:33px;}
.mb34 {	margin-bottom:34px;}
.mb35 {	margin-bottom:35px;}
.mb36 {	margin-bottom:36px;}
.mb37 {	margin-bottom:37px;}
.mb38 {	margin-bottom:38px;}
.mb39 {	margin-bottom:39px;}
.mb40 {	margin-bottom:40px;}
.mb45 {	margin-bottom:45px;}
.mb50 {	margin-bottom:50px;}
.mb55 {	margin-bottom:55px;}
.mb60 {	margin-bottom:60px;}


/* 翻页 */
.loan_fy {padding:8px 0;color:#999; margin-left:38px;}
.loan_fy a {border:solid 1px #ccc;padding:3px 8px;color:#ab4501;font-family:arial; line-height:30px; white-space: nowrap;}
.loan_fy a:hover{ text-decoration:underline;}
.loan_fy span {border:solid 1px #ccc;color:#039;padding:3px 8px;font-family:arial;line-height:30px; }
.loan_fy .fy_up { background: url(../images/20120405_fy_l.gif) no-repeat 5px center;padding-left:16px; line-height:21px;}
.loan_fy .fy_up a { border:none; padding:0;}
.loan_fy .fy_next  { background: url(../images/20120405_fy_r.gif) no-repeat 47px center;padding-right:16px; line-height:21px;}
.loan_fy .dq {border:solid 1px #ff3300;color:#ff3300;}
.loan_fy .dq a {border:none; padding:0;}
.loan_fy .fy_inp {border:solid 1px #ccc;width:38px; text-align:center;height:21px; line-height:21px;margin-top:-3px;*margin-top:0; font-family:arial;}
.loan_fy .fy_nut { line-height:21px;font-size:12px;}
.loan_fy .fy_no {color:#999;}


.pt5 { padding-top:5px;}
.pt12 {	padding-top:12px;}
.pl15 {	padding-left:15px;}
.pr15 {	padding-right:15px;}


/*======= 分页.html =======*/
.pagenum { font-size:14px;}
.pagenum a { margin:10px 5px 0 5px; color:#2b806d;}
.pagenum span { margin:0 5px 0 5px;}
.pagenum a:hover { color:#808587; text-decoration:underline;}
.pageup { width:720px; padding:10px 0 0 0 ;	color: #7a7c7e;	}
.pageup li{ line-height:23px; height:23px;}
.pageup a{ color:#606060; }
.pageup a:hover{ text-decoration:underline; color:#ab4501;}
.zuofan { width:13px; height:}

/*======= 路径.html =======*/
.lujin { width:auto; height:36px; line-height:36px;	font-size:12px;	color:#242b00; background-image:url(../images/but-2.gif); background-repeat:no-repeat;
 background-position:left center; text-indent:18px;}
.lujin a { width:auto; height:36px;	line-height:36px; font-size:12px; color:#242b00;}
.lujin a:hover { color:#636f25;}

.titl{ width:920px;	height:auto; text-align:center; border-bottom:1px dashed #4c4c4c;}
.titl h1{ height:auto; line-height:50px; font-size:25px; color:#0056ba; font-family: "宋体"; font-weight: bold;}
.titl .laizi { text-align:center; color:#9b9b9b;}
.details{ color:#262626; line-height:1.5em; width:680px; height:auto;}

.schbig .input1 { border:1px solid #c0c0c0; width:148px; height:21px; line-height:21px; color:#a7a7a7;}
.schbig .lsb { width:50px; color:#fff; height:20px; line-height:20px; font-size:12px; text-align:center; background-image: url(../images/serch.png); background-repeat:no-repeat; background-position:left center; background-color:Transparent; border:none; overflow:visible;}




.green-black { 
PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; 
MARGIN: 3px; PADDING-TOP:15px; TEXT-ALIGN: center 
} 
.green-black A { 
BORDER-RIGHT: #8f9090 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8f9090 1px solid;
 PADDING-LEFT: 5px; BACKGROUND: url(images/pageimage1.gif) #8f9090; 
PADDING-BOTTOM: 2px; BORDER-LEFT: #8f9090 1px solid; COLOR: #fff; 
MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #8f9090 1px solid; TEXT-DECORATION: none 
} 
.green-black A:hover { 
BORDER-RIGHT: #025ea6 1px solid; BORDER-TOP: #025ea6 1px solid;
 BACKGROUND: url(images/pageimage2.gif) #025ea6; BORDER-LEFT: #025ea6 1px solid;
 COLOR: #fff; BORDER-BOTTOM: #025ea6 1px solid 
} 
.green-black A:active { 
BORDER-RIGHT: #025ea6 1px solid; BORDER-TOP: #025ea6 1px solid; 
BACKGROUND: url(images/pageimage2.gif) #025ea6; BORDER-LEFT: #025ea6 1px solid;
 COLOR: #fff; BORDER-BOTTOM: #025ea6 1px solid 
} 
.green-black SPAN.current { 
BORDER-RIGHT: #025ea6 1px solid; PADDING-RIGHT: 5px; 
BORDER-TOP: #025ea6 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; 
BACKGROUND: url(images/pageimage2.gif) #025ea6; PADDING-BOTTOM: 2px; 
BORDER-LEFT: #025ea6 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; 
PADDING-TOP: 2px; BORDER-BOTTOM: #025ea6 1px solid 
} 
.green-black SPAN.disabled { 
BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 5px; 
BORDER-TOP: #f3f3f3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px;
 BORDER-LEFT: #f3f3f3 1px solid; COLOR: #ccc; MARGIN-RIGHT: 2px;
 PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid 
} 

.pa {
	position:absolute;
}
.pr {
	position:relative;
}
.ha {
	height:auto;
}
.haoh{
	height:auto;
	overflow:hidden;
}
.pt30 {
	padding-top:30px;
}
.pl15 {
	padding-left:15px;
}
.pr15 {
	padding-right:15px;
}
.tc {
	text-align:center;
}
.c9 {
	color:#9B9A9A
}
.f12 {
	font-size:12px;
}
.pt15 {
	padding-top:15px;
}
.cb {
	height:0;
	clear:both;
	font-size:0;
	line-height:0;
	zoom:1;
}
.pt10 {
	padding-top:10px;
}
.pt25{
	padding-top:25px;
}
.pt20{
	padding-top:20px;
}
.h20 {
	height:20px;
}
.w {
	width:100%;
}
.fb {
	font-weight:bold;
}
.h40{ height:40px;}
.h50{ height:50px;}
.red, a.red {
	color:#f5422b;
}