@charset "utf-8";
/* CSS Document */

a:hover {
    text-decoration: none;
}

.ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
    height:auto;
    vertical-align:text-top;
    padding-top:2px;
}
        
.selectProp {
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 5px;
    padding: 2px 10px;
    border: 2px solid #ddd;
    color: #000;
}

.multiSelectProp {
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 5px;
    padding: 2px 10px;
    border: 2px solid #ddd;
    color: #000;
}
.m-selectProp {
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 5px;
    padding: 2px 10px;
    border: 2px solid #ddd;
    color: #000;
}

.m-multiSelectProp {
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 5px;
    padding: 2px 10px;
    border: 2px solid #ddd;
    color: #000;
}

.spon {
    border: 2px solid #3399ff;
    background: url(/images/selecton.jpg) no-repeat right bottom;
}

.selectProp:hover {
    color: #ff6600;
    text-decoration: none;
}

.multiSelectProp:hover {
    color: #ff6600;
    text-decoration: none;
}


.m-selectProp:hover {
    color: #ff6600;
    text-decoration: none;
}

.m-multiSelectProp:hover {
    color: #ff6600;
    text-decoration: none;
}

a.table-a {
    color:#999;
}

a.table-a:hover {
    color: #999;
    text-decoration: none;
}

a.ton {
    color: red;
}

a.ton:hover {
    color: red;
    text-decoration: none;
}
