@charset "utf-8";
.place { margin-bottom:15px; width: 1180px; background:url(../images/pic.png) no-repeat -2px -177px;font-family: "微软雅黑";font-size: 14px;color: #666;line-height: 27px;padding-left: 27px;  }
.place a { margin: 0 5px; }
.s_gwc1{ width:1200px; height:100px; background:url(../img/gwc1.png) center no-repeat;}
.s_gwc1 span{ font-family:"微软雅黑", "宋体"; font-size:14px; color:#444444; line-height:60px; margin-right:160px; margin-left:147px; _margin-right:160px; _margin-left:160px;}
#colorfff{ color:#fff;}
.s_gwc2{ width:1200px; height:100px; background:url(../img/gwc2.png) center no-repeat;}
.s_gwc2 span{ font-family:"微软雅黑", "宋体"; font-size:14px; color:#444444; line-height:60px; margin-right:147px; margin-left:160px; _margin-right:160px; _margin-left:160px;}
.s_gwc3{ width:1200px; height:100px; background:url(../img/gwc3.png) center no-repeat;}
.s_gwc3 span{ font-family:"微软雅黑", "宋体"; font-size:14px; color:#444444; line-height:60px; margin-right:147px; margin-left:160px; _margin-right:160px; _margin-left:160px;}


.gwc_zn{ text-align:center;}
.gwc1_lm table{ width:100%;}
.gwc1_lm table tr{ height:33px; background:#eeeeee;}
.gwc1_lm table tr td{ text-align:center; font-family:"微软雅黑", "宋体"; font-size:12px;}

.gwc1_lm2 tr{ border-bottom:1px solid #ededed; height:110px;}
.gwc1_lm2 tr td{ text-align:center;}
.gwc1_lm2_a{ width:407px;}
.gwc1_lm2_a span{ float:left;}
.gwc1_lm2_a span a img{ border:1px solid #e5e5e5; margin-right:15px;}
.gwc1_lm2_a p a{ font-family:"微软雅黑", "宋体"; font-size:12px; color:#666666; margin-top:8px; display:block; text-align:left; line-height:23px;}
.gwc1_lm2_a p a:hover{ text-decoration:underline; color:#da090b;}

.gwc1_lm2_b{ width:227px; text-align:center;}
.gwc1_lm2_b span{font-family:"微软雅黑", "宋体";  font-size:14px; color:#e20000; font-weight:bold;}
.gwc1_lm2_c{  width:197px; text-align:center;}
.gwc1_lm2_d{ width:206px; text-align:center;}
.gwc_delete{ background:#da090b; border:none; width:100px; height:28px;  cursor:pointer; color:#fff; font-family:"微软雅黑", "宋体"; font-size:12px; text-align:center;}
.gwc_delete:hover{ background:#f10000;transition: all .5s; -moz-transition: all .5s; -ms-transition: all .5s; -o-transition: all .5s;  border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}
.gw1_zj span{ font-size:14px; font-family:"微软雅黑", "宋体"; color:#da090b; line-height:36px;}
.gw1_zj span span{font-family:"微软雅黑", "宋体";  font-size:14px; color:#f5422b; font-weight:bold;}
.content_zj{ height:19px;float: left; width:60px; text-align:center; border:1px solid #ccc;}
.content_nr_3_jg2 a img{ margin-left:8px; margin-right:8px; float: left;}
.content_nr_3_jg2 { width:135px}

.s_gwc1zj{line-height:45px; }
.s_gwc1zj p{ font-family:"微软雅黑", "宋体"; font-size:14px; color:#444444; line-height:45px;}

.s_gwc1zj p span{ color:#da090b; font-weight:bold;}
.s_gwc1zja{ height:35px; width:1200px; background:url(../img/js1.png) center no-repeat;}
.s_gwc1zja_1 a{ font-family:"微软雅黑", "宋体"; font-size:14px; color:#444444; line-height:35px; margin-left:10px;}
.s_gwc1zja_1 a:hover{ color:#da090b;}
.s_gwc1zja_2 a{ border:none; background-color:#d80107; width:146px; height:35px; display:block; text-align:center; cursor:pointer; line-height:35px; font-family:"微软雅黑", "宋体"; font-size:16px; color:#fff;}
.s_gwc1zja_2 a:hover{ background-color:#f10000;}
.input_zy{ border:none; background-color:#d80107; width:146px; height:35px; display:block; text-align:center; cursor:pointer; line-height:35px; font-family:"微软雅黑", "宋体"; font-size:16px; color:#fff;}
.input_zy:hover{ background-color:#f10000;}

.s_gwc2_1{ width:1198px; height:auto; border:1px solid #e4e4e4; background:url(../img/gwcbggg.png) center repeat-y;}
.s_gwc2_1_a{width:135px; height:auto; background:#eeeeee; float:left; border-right:1px solid #e4e4e4; padding-top:50px;}
.s_gwc2_1_a p{ display:block; text-align:center;}
.s_gwc2_1_a p span{ font-family:"微软雅黑", "宋体"; font-size:16px; color:#444444;}
.s_gwc2_1_a p a{ font-family:"微软雅黑", "宋体"; font-size:12px; color:#da090b;}
.s_gwc2_1_a p a:hover{ text-decoration:underline;}
.s_gwc2_1_b a{ margin-left:20px; float:left; margin-top:12px; width:477px; overflow:hidden; border:2px solid #eeeeee; padding:10px; height:87px; display:block;}
.s_gwc2_1_b a.dzxz , .s_gwc2_1_b a:hover {border:2px solid #da090b; background:url(../img/shoppingcartgou.png) bottom right no-repeat; text-decoration:none;}
.s_gwc2_1_b p{ line-height:23px; font-family:"微软雅黑", "宋体"; font-size:14px; color:#444444;}

.s_gwc3_1{ width:1198px; height:73px; border:1px solid #e4e4e4;}
.s_gwc3_1_a{ width:135px; height:48px; background:#eeeeee; float:left; border-right:1px solid #e4e4e4; padding-top:25px;}
.s_gwc3_1_a p{ display:block; text-align:center;}
.s_gwc3_1_a p span{ font-family:"微软雅黑", "宋体"; font-size:16px; color:#444444;}

.gwc_3zf{height:auto; padding:25px 15px; float:left;}
.gwc_3zf li{ float:left; margin-right:10px;}
.gwc_3zf li input{ margin-right:10px; margin-top:8px;}

.s_gwc4_1{width:1198px; height:auto; border:1px solid #e4e4e4; background:url(../img/gwcbggg.png) center repeat-y;}
.s_gwc4_1_a{ width:135px; height:auto; background:#eeeeee; float:left; border-right:1px solid #e4e4e4;}
.s_gwc4_1_a p{ display:block; text-align:center; margin-top:20px;}
.s_gwc4_1_a p span{ font-family:"微软雅黑", "宋体"; font-size:16px; color:#444444;}

.gwc2_psfs{ width:1041px; float:right; padding:15px 10px;}
.gwc2_psfs555{ width:1045px; float:left; padding-bottom:12px;}


.gwc1_lm2_b1{ width:228px; text-align:center;}
.gwc1_lm2_c1{  width:227px; text-align:center; color:#999;}
.gwc1_lm2_d1{ width:244px; text-align:center;}
.gwc1_lm2_b1 span{font-family:"微软雅黑", "宋体";  font-size:14px; color:#e20000; font-weight:bold;}

.gwc1_lm2_a1{ width:468px;}
.gwc1_lm2_a1 span{ float:left;}
.gwc1_lm2_a1 span a img{ border:1px solid #e5e5e5; margin-right:15px;}
.gwc1_lm2_a1 p a{ font-family:"微软雅黑", "宋体"; font-size:12px; color:#666666; margin-top:8px; display:block; text-align:left; line-height:23px;}
.gwc1_lm2_a1 p a:hover{ text-decoration:underline; color:#da090b;}

.gwc_3zf11{height:auto;  float:right; padding:10px;}
.input12{ width:1035px; height:46px;  border:1px solid #e4e4e4; font-family:"微软雅黑", "宋体"; font-size:14px; color:#999;}

.s_cggg{ text-align:center;}
.s_cggg p{ font-family:"微软雅黑", "宋体"; font-size:14px; color:#444444; line-height:25px;}
.s_cggg p a{ color:#da090b;}
.s_cggg p a:hover{ text-decoration:underline;}

.gwcbg{ height:auto; background:#fff;}


.duoxuank{ margin-top:33px; margin-right:8px;}
.invoice{ line-height:73px;}
.fapiaolan{ height:19px; line-height:19px; padding:0 10px; border:1px solid #ccc;}
.gwc1_lm2_a0{ width:100px;}


.buy_ok { width:420px; height: auto; overflow: hidden; margin-top: 100px; margin-right: auto; margin-bottom: 100px; margin-left: auto; }
.buy_ok .ok_a span { font-family: "微软雅黑"; color: #da090b; font-size: 22px; }
.buy_ok .ok_a em { color: #da090b; font-size: 18px; }
.buy_ok .ok_b a { color: #376de6; }
.buy_ok .ok_b a:hover { text-decoration: underline; }
.buy_ok_top { font-family: "微软雅黑"; color: #454545; font-size: 20px; height: 46px; line-height: 46px; border-bottom: 1px solid #e2e2e2; }


/*购买后又买*/
.sx_list2 { overflow: hidden; width:1200px; margin:0 auto; }
.sx_list2 ul{ margin-left:-37px;}
.sx_list2 li { width: 190px; overflow: hidden; float: left; display: block; margin-left:37px; border: 4px solid #fff; padding: 6px; margin-top: 16px; transition: all .2s linear; -webkit-transition: all .2s linear; }
.sx_list2 li:hover { border: 4px solid #ffe4d2; -moz-opacity:0.68 !important; filter:alpha(opacity=68); opacity: 0.68; -ms-opacity:0.68; -o-opacity:0.68; -webkit-opacity:0.68; transition:all .2s linear;-webkit-transition:all .2s linear; -ms-transition:all .2s linear; -moz-transition:all .2s linear; -o-transition:all .2s linear;}
.sx_list2 li img { width: 190px; height: 190px; display: block; }
.sx_list2 li p { margin-top: 10px; }
.sx_list2 li b { display: block; font-family: Arial, Helvetica, sans-serif; color: #f60; font-size: 15px; }
.sx_list2 h4{ padding:15px 0; border-bottom:2px solid #ddd; font-size:18px; color:#444444;}

.left {width: 990px;}
#succeed{position: relative;overflow: visible;}	
.m{margin-bottom: 10px;}
#succeed .tl{top: -1px;left: -1px;background-position: -17px 0;}
#succeed .corner{display: none;position: absolute;width: 4px;height: 4px;font-size: 0;line-height: 0;overflow: hidden;}
#succeed .tr{top: -1px;right: -1px;background-position: -21px 0;}
#succeed .bl{bottom: -1px;left: -1px;background-position: -17px -4px;}
#succeed .br{bottom: -1px;right: -1px;background-position: -21px -4px;}
#succeed .success{padding-left: 174px;padding: 31px 10px 16px 240px;}
#succeed .success-b{float: left;overflow: hidden;width: 304px;height: 40px;padding-left: 56px;background:url(../images/pic.png) no-repeat -3px -729px;font: normal 24px/40px \5fae\8f6f\96c5\9ed1;color: #7ABD54;}
#succeed .success-b h3{font: normal 24px/40px \5fae\8f6f\96c5\9ed1;color: #7ABD54;}
.ml10{margin-left: 10px;}
.btn-1{background-color: #de000f;display: inline-block;height: 18px;line-height: 18px;padding: 9px 30px;color: #fff;font-size: 15px;font-weight: bold;font-family: '\5fae\8f6f\96c5\9ed1';}
a{color: #666;text-decoration: none;}
.btn-1:hover { border-radius:7px;}
.ftx-05{color: #005ea7;}
.mt{height: 30px;background: #f7f7f7;}
.mt .tl{display: none;}
.mt h2{height: 30px;padding-left: 10px;font: normal 14px/31px \5fae\8f6f\96c5\9ed1;color: #333;}
.mc{width: 978px;overflow: hidden;padding: 2px 5px;}
.mc dl{float: left;width: 33.3%;padding: 10px 0;}
.mc dt{float: left;padding-left: 5px;}
.p-img{padding: 5px 0;}
.mc dd{width: 200px;float: left;padding: 5px;}
.mc dd div{margin-bottom: 5px;}
.p-name{height: 1.5em; overflow:hidden;}
.p-name a:link, .p-name a:visited{color: #666;}
.p-name, .p-detail{word-break: break-all;word-wrap: break-word;}
.p-price{height: 18px;overflow: hidden;zoom: 1;}
.p-price strong, .p-market strong{color: #de000f;}
.btn-append{display: block;overflow: hidden;width: 89px;height: 21px; background-color:#f9f9f9; border:1px solid #ddd; border-radius:3px; text-align: center;text-decoration: none;line-height: 21px;color: #333;}


.mymember_address{border-collapse:collapse;width:100%;}
.mymember_address th{text-align:right;padding:0 10px 0 0;background:none;width:120px;vertical-align:middle;border:none;}
.mymember_address td{text-align:left;padding:10px 0;background:none;border:none;}
.mymember_address td b { color:#f10000}
.mymember_address input.mytext{width:50%;border:1px solid #ddd;height:28px;line-height:28px;text-indent:1em;}
.mymember_address input.mysub{width:180px;height:35px;border:none;cursor:pointer;color:#fff;font-family:"微软雅黑";font-size:16px;border-radius:3px;background:#da090b;}
.mymember_address input.mysub:hover{background:#f60;}
.mc{line-height: 20px;}
.tb-void{line-height: 18px;text-align: center;border: 1px solid #f2f2f2;border-top: 0;color: #333;width: 100%;}
.tb-void th{background: #f5f5f5;height: 32px;line-height: 32px;padding: 0 5px;text-align: center;font-weight: normal;}
.tb-void td{border: 1px solid #f2f2f2;padding: 10px 5px;}
.ftx-03{color: #999;width:100%;text-align:center}
.new-address { background-color:#f0f0f0}